[2019-03-10 00:40] CarlMeadows opened #531 "Provide an Amazon AMI optimized for AWS"
Provide an Amazon EC2 AMI with Open Distro for Elasticsearch RPMs and the AWS plugins preconfigured to make it easy to deploy and test on AWS.

[2019-03-17 03:11] askids opened #18 "Packages for Windows"
It would be useful to provide open distro packages for Windows Servers 2012/2016 as there are many current users of Elasticsearch running on windows and may want to switch from native to Open Distro because of the added features.

Thanks!

[2019-03-20 12:13] ozsk opened #539 "Wrong files permissions in opendistro-for-elasticsearch container"
Hi,
there is no repository for docker images so I think that it is the best place.

During `amazon/opendistro-for-elasticsearch` container start process there is a few warning messages which should be fixed in Dockerfile. It is about proper permissions on configuration directory and files.

[code]

Permission problems with certificates could be resolved when mounting own certificates. Same solutio

[2019-04-07 03:58] untoldone opened #201 "Docker image should provide ability to specify password for the admin user"
Currently `opendistro_security/securityconfig/internal_users.yml` is only read for password hashes on the initial load.

All the documentation to date relies docker containers getting destroyed in-between edits to this file. This is not an expected usage pattern in any commonly used open source project configuration.

The expectation would be that editing this file takes effect after a service res

[2019-05-07 06:53] tolahs opened #540 "Kubernetes Azure implementation"
Hi , Thanks for perfect job. I need help for kubernetes azure implementation. I I tried but can't.
Do you think , or plan for azure.

[2019-05-16 21:08] pombredanne opened #1 "Dead URL referenced for downloads"
https://opendistro.github.io/elasticsearch/downloads is a 404
Actually https://opendistroforelasticsearch.github.io is too

[2019-05-16 21:12] pombredanne opened #2 "Script to collect the corresponding source is missing from the build"
It would make sense to be able to build a source archive instead of only dealing with binaries.
It does not instill confidence to have an open source project without source code handy.

[2019-05-17 01:12] gabrielcalderon commented on #2
I think it's because they are using the prebuilt binaryies from Elastic. It just makes things easier, why rebuild the source?

[2019-05-17 23:40] allenyin96 commented on #1
Thanks for raising the issue.

Fixed and closing.

[2019-05-17 23:40] #1 closed

[2019-05-23 19:51] jeff-cook opened #3 "securityadmin.sh should set to executable"
All shell scripts in the plugins/opendistro_security/tools directory should be set to executable.

[2019-05-23 20:44] alolita commented on #3
@jeff-cook Thanks for reporting! We'll take a look.

[2019-07-01 13:50] fredericvl opened #91 "Wrong dependencies on v1.0.0"
Currently I have a cluster running of 3 nodes on OpenDistro v0.9.0.
Today I have tried to upgrade to v1.0.0 but without success.
It looks like the wrong dependencies are set on the v1.0.0 package.
It wants to update the security & sql package to 1.1 and they have a requirement of ES 7.1.1 which is conflicting with version 7.0.1 it should be.

This is the output when I try to upgrade:
<pre>
# yum i

[2019-07-01 19:43] weand opened #4 "v1.0.0 changes missing?"
Hi,

is it correct, that opendistro-build repo misses changes for 1.0.0?

Regards
Andreas

[2019-07-01 20:10] alolita commented on #4
Hi @weand We're in the process of pushing the build scripts for 1.0.0 :-) Will update on thread! Thanks for your patience.

[2019-07-08 20:44] armijnhemel commented on #2
There are people who think this is important, for example the "reproducible builds" project.

[2019-07-09 02:43] alolita commented on #4
Hi @weand The build scripts have now been updated for 1.0.0. Please feel free to open another issue if you have any suggested improvements or find any bugs.

[2019-07-09 02:43] #4 closed

[2019-07-09 03:13] alolita commented on #2
As folks on the thread stated, Open Distro uses upstream binaries and the build scripts reflect that. You can build Open Distro plugins from source. For e.g. you can build the security plugin from source following these steps https://github.com/opendistro-for-elasticsearch/security-parent/blob/master/README.md Please feel free to enhance the current scripts. :-)

[2019-07-09 03:13] #2 closed

[2019-07-12 21:03] armijnhemel opened #536 "default kibana.yml using elasticsearch.url instead of elasticsearch.hosts"
the default kibana.yml in opendistroforelasticsearch-kibana-1.0.0-1.x86_64 (installed on Fedora 30) says:

elasticsearch.url: https://localhost:9200

which should be:

elasticsearch.hosts: https://localhost:9200

to make it work with Elasticsearch 7.0.1. The Docker file seems to overwrite this, but when you are not using the Docker file, but installing it from a package (like I do), then this is n

[2019-07-15 09:12] orest-gulman opened #6 "Changes are not applied in 1.0.0 version using docker"
All configuration files stores in my host machine, and replaced inside of containers by volumes:

[code]

After editing configuration files in a host machine, and restarting nodes, It doesn't apply any changes. The files actually replaced inside of containers, but nothing changed.

[2019-07-22 02:16] dbroadhurst commented on #6
Same here. This seems like a really big issue, is anyone using opendistro?

[2019-07-22 05:49] alolita commented on #6
Hi @dbroadhurst @orest-gulman Thanks for reporting. We'll take a look and see if we can replicate this issue.

[2019-07-22 23:38] allenyin96 commented on #6
Hi,

This is an expected behavior for security plugin.

On startup, the security plugin will create an index, .opendistro_security, which stores the security related configs. If you modify the config files and restart the node, the same index will be picked up again by elasticsearch and the changes will not be reflected.

The recommended way to apply config changes is documented [here](https://ope

[2019-07-23 19:09] dbroadhurst commented on #6
Thanks for the update. Yes, this makes sense. I tore down my container and it worked as expected.

[2019-07-23 21:15] #6 closed

[2019-07-26 06:57] TobiasK22 opened #7 "Module is outdated"
I try to run opendistro-for-elasticsearch on a openshift-container but I get this error:
Browserslist: caniuse-lite is outdated. Please run next command `npm update caniuse-lite browserslist`

[2019-07-26 08:50] r00t9 opened #8 "Migrate from 9.0 to 1.0"
I install opendistro 1.0 and elasticsearch-oss 7.0.1 and when i tried to run securityadmin i get this error.

Command:

`./securityadmin.sh -migrate ~/elastic_backup -nhnv -cacert /etc/elasticsearch/root-ca.pem -cert /etc/elasticsearch/kirk.pem -key /etc/elasticsearch/kirk-key.pem`

   SUCC: Configuration for 'actiongroups' stored in ~/elastic_backup/action_groups.yml

[2019-07-31 08:37] orest-gulman commented on #6
@allenyin96 Thank you!

[2019-08-06 16:48] q2dg commented on #8
Now there's ElasticSearch 7.3 already ....

[2019-08-10 20:01] yuecong opened #10 "add one env to turn off running install_demo_configuration.sh in production"
Can I propose to add one system environment variable to allow users to turn off run this script in their production? By doing this, users can easily just use the same docker image in their production environment.

https://github.com/opendistro-for-elasticsearch/opendistro-build/blob/master/elasticsearch/docker/build/elasticsearch/bin/docker-entrypoint.sh#L88

If you guys agree, I can have one PR a

[2019-08-12 12:13] val16384 commented on #10
Good suggestion.

Now is only possibly to rewrite image Docker file or to  repllace  install_demo_configuration.sh with  empty file, in compose file.
volumes:
./elasticsearch/config/disabledemo.sh:/usr/share/elasticsearch/plugins/opendistro_security/tools/install_demo_configuration.sh

[2019-08-14 04:00] yuecong commented on #10
thanks for the workaround. would you agree that we support have users able to disable it using some system env, e.g. is set DISABLE_INSTALL_DEMO_CONFIG to true, just do not run the script.

[2019-09-11 21:52] sathomps opened #14 "custom unix user & group"
With Elasticsearch not allow the install to run as a custom user/group, is there an easy way to configure that through these build scripts?

I'm assuming not but wanted to check.

[2019-09-18 11:12] e11it opened #15 "Incorrect image of elastic 1.2.0 on the hub.docker.com"
Hello!

@mohit0193,
Same image of elasticsearch as 1.1.0 was tagged as 1.2.0 on hub.docker.com (https://hub.docker.com/r/amazon/opendistro-for-elasticsearch/tags).
[code]
AND
[code]

[2019-09-18 15:49] mohit0193 commented on #15
Thanks @e11it , I have changed image tag.

[2019-09-18 15:51] #15 closed

[2019-09-27 07:35] eluchsinger opened #16 "Windows support"
Is it possible to provide a download for Windows? I can't run Docker on my environment, but we use Windows.

(Migrated from https://github.com/opendistro/for-elasticsearch/issues/45)

[2019-09-30 10:44] dd1245 opened #17 "Upgrade issue from 1.1"
Running centos 7 and tried to update to 1.2. I followed the update instructions but now get the below. Any advice?

However, I get the following;

--> Running transaction check
---> Package avahi-libs.x86_64 0:0.6.31-19.el7 will be installed
---> Package elasticsearch-oss.x86_64 0:7.2.0-1 will be updated
--> Processing Dependency: elasticsearch-oss = 7.2.0 for package: opendistro-alerting-1.2.0.0-

[2019-09-30 18:00] alolita commented on #16
@eluchsinger we're working on providing a Windows image. Stay tuned.

Please share more details about your Windows setup for us to factor the configuration in our tests.

[2019-09-30 18:02] alolita commented on #8
@r00t9 are you still having this issue? Or have you upgraded to the latest version 1.2.0?

[2019-09-30 18:04] alolita commented on #7
@TobiasK22 are you still having this problem? Did you upgrade to Open Distro 1.2.0. Let us know and we can take a look if you're still running into setup issues.

[2019-09-30 18:08] alolita commented on #10
Hi @yuecong Feel free to raise a PR - thanks for suggesting this change.

[2019-09-30 20:40] eluchsinger commented on #16
Sorry, I meant we can use docker, but we only have Windows containers. I'll probably build my own Docker image with your Windows build so I can run it inside Windows containers.

[2019-10-01 01:24] alolita commented on #18
Hi @askids @cmg-dev thanks for your patience. We got a community contribution for the installer script and are currently evaluating it. If you're interested, it would be great to have your review and help in building and testing the alpha version. Let me know :-)

[2019-10-01 15:55] r00t9 commented on #8
Now i couldn't fix it, so i just a make a clean installation. I don't know if the latest version 1.2.0 is fix it with this issue.

[2019-10-01 15:55] #8 closed

[2019-10-03 05:55] askids commented on #18
@alolita I can help in the review.

[2019-10-09 13:16] sc7565 opened #23 "Support Elasticsearch 7.4.0"
Support Elasticsearch 7.4.0

[2019-10-10 18:57] nicot007 opened #25 "Dev Tools History does not persist sessions"
We’ve noticed with ES 6.7 and OD 0.9
We have Security Plugin in both ES and Kibana

Our dev tools page does not save the commands after logging out.
Instead we are welcomed to the “Welcome To Console Page>Get to Work” Every time one logs in.

My Kibana YML
------------ Basic Server/ES Information ------------------
server.port: 443
server.host: xxx
elasticsearch.url: xxx
elasticsearch.username: xx

[2019-10-14 10:01] Paulomart commented on #18
Hi, @askids were can I find the contribution/PRs for windows. I would like to help test them.

[2019-10-14 11:17] alolita commented on #18
@askids @Paulomart - thanks for being interested in testing. Will ping you the link for downloading the package to test.

[2019-10-14 18:46] vishleshpatel opened #26 "Elasticsearch and Kibana build as a Single Image"
As a user, it would be great to have elasticsearch and kibana packaged in a single docker image. so that it can be ran in cloud environment easily with minimal configuration and compute resources where logs can be hosted from cloud services like cloudwatch, etc.

[2019-10-14 19:11] alolita commented on #26
Thanks for your suggestion @vishleshpatel

[2019-10-15 14:41] francisco-hoo commented on #25
This happens in Open Distro 1.0.0.1 too.

[2019-10-17 13:18] BetterWorldCloud opened #27 "Kibana and Elasticsearch containers deployed separately"
I've been trying to deploy Kibana and Elasticsearch containers in different hosts, but Kibana container has not been able to find (or connect with) Elasticsearch. Any pointers?

[2019-10-21 16:16] mzs114 opened #30 "Packages for FreeBSD."
FreeBSD has stock ELK 6, OpenDistro would be a good alternative for it, FreeBSD has OpenJDK 8 and 11 in the stock repositories so getting OpenDistro run on it should be straight forward.

I can help in testing out the packages, the current .tar.gz files are too GNU/Linux specific and won't work without major changes, like the shell scripts to launch the Elasticsearch service.

[2019-10-30 03:09] sheldonrong commented on #23
@alolita any roadmap on when 7.4.0 would be available?

[2019-11-01 16:34] gsmetal opened #32 "Docker container for version 1.2.0 does not start"
Hello. I'm trying to run opendistro in docker, run commands from [documentation](https://opendistro.github.io/for-elasticsearch-docs/docs/install/docker/#run-the-image):
[code]

And get this:
[code]

[2019-11-01 16:39] gsmetal commented on #32
Dirty attempt to fix permissions like this
[code]
does not work because it seems that `jvm.options` in container is broken:
[code]

[2019-11-05 17:47] treilhes opened #99 "Can you clarify your position about Windows support?"
Hello,
For now, everything i've read about running opendistro for elasticsearch on windows imply running it using a docker image.

So can you answer the following questions:
- Do/will you support running your distribution directly on Windows platforms?
- Do/will you support running all your custom plugins directly on Windows platforms?
- Can i expect the same level of support/testing/tooling on Wi

[2019-11-07 10:37] nean-and-i commented on #17
Hi
as a workaround my recommendation is to download the elasticsearch-oss package from the elastic homepage, reason for this is because every time I'm doing an upgrade I have issues with getting older versions from the elastic repo that are required for ODFE.

[code]
[code]
(no version lock or exclude configured)

So, in case for opendistro 1.2.1 my steps are:
1. go to  https://www.elastic.co/down

[2019-11-07 14:24] Reamer commented on #3
Have the same issue, when running on Openshift.
Have the following hack in my Dockerfile.
[code]

[2019-11-07 19:38] shadowlord017 commented on #17
My workaround:

[code]

[2019-11-08 05:12] dlyoungerman commented on #25
We're seeing this with version 1.1.0.

[2019-11-12 06:44] alolita commented on #30
Hi @mzs114 Would you like to contribute these packages to support FreeBSD?

[2019-11-12 06:46] alolita commented on #23
Hi @sheldonrong 7.4 will be right after 7.3.2 which is in progress right now. Stay tuned :-)

[2019-11-12 06:49] alolita commented on #25
Hi @nicot007 thanks for reporting. Will ask security plugin developers to respond.

cc @allenyin96 @hardik-k-shah

[2019-11-13 06:07] mzs114 commented on #30
@alolita I would love to volunteer, let me know how can I help. I might be limited by the time I can spend on this, but will try to contribute as mush as I can.

[2019-11-14 10:41] jkrnak opened #34 "Elasticsearch container fails when running as non root."
When running the container as non root, ie with `securityContext.runAsUser: 1000` the supervisord process was starting up as the passed in user.
This caused supervisord to fail because the `/usr/share/supervisor` directory was owned by root.

[2019-11-18 08:25] askids commented on #18
@alolita any updates on by when we can expect to get a version to test?

[2019-11-20 18:54] Adelbertt opened #35 "Saml, AzureAD and roles"
Hi,

We've deployed OD, we confirmed we can Authenticate and manage roles inside Kibana's GUI. We tried to assigne user according to roles/group they are part inside our AzureAD but we were unsuccessful. To us it seems we need to configure the authz sections but since we are using Azure we do not know how we can configure OD to retrieve the roles/group. Everything we do ends up having the user get

[2019-11-20 19:41] dberuben commented on #35
👍

[2019-11-22 20:36] francisco-hoo commented on #35
Hi @Adelbertt, when you said _"...we confirmed we can Authenticate..."_ are you talking about Basic Auth or SAML Auth?
To retrieve roles from a SAML response you need to map the XML Tag `<Attribute>`. For example like on [Open Distro SAML Configuration](https://opendistro.github.io/for-elasticsearch-docs/docs/security-configuration/saml/). Looking to your SAML response you have 6 roles and you can

[2019-11-25 01:40] mosajjal opened #39 "Elasticsearch and Opendistro in the same cluster"
Hi,

I think the title of my question is pretty self explanatory. I'm keen to know if an Opendistro 1.3 (7.3.2) node can co-exist with a current ES cluster and the migration from ES to Opendistro could be done on a node-by-node basis.

Thanks,

[2019-11-25 08:58] CodeFreezr commented on #23
We are also very excited about 7.4.x not only because of the CVE Fix. So we are prepared to jump very fast on 7.4. Do you have any due guesses?

[2019-11-25 15:07] Adelbertt commented on #35
SAML

For the roles im still testing, seems we can't define roles_key containing : so im trying something like schemas.microsoft.com/identity/claims/tenantid,

User is still getting missing tenant, The roles name should be a backend role in the roles mapping right?

[2019-11-25 20:03] Adelbertt commented on #35
We see the roles we attributed to the user in the SAML response, but i think our problem is that we aren't sure how we can map the role inside the plugin to allow a tenant and such.

Thanks

[2019-11-26 18:39] Adelbertt commented on #35
So apparently this would be one of the problem...

`Failed to get roles from JWT claims with roles_key 'roles'. Check if this key is correct and available in the JWT payload.`

[2019-11-26 20:54] francisco-hoo commented on #35
@Adelbertt this happens because your SAML response doens't have this `roles` attribute.

Yeah, the roles you retrieve from `roles_key` will be mapped on `backend_role` of the user. So you need to previously configure a _Mapping Role_ to map your `backend_role` to a specific `role`

[2019-11-27 14:17] Adelbertt commented on #35
So inspecting the JWT ...
we get this ...
"roles": null

[2019-11-27 15:02] Adelbertt commented on #35
So i changed the syntax on the roles_keys and now we are retrieving the roles in the JWT.
[code]

After that we were able to assign the backend_role to a roles_mapping and everything works !

[2019-11-27 15:02] #35 closed

[2019-12-11 17:32] manavkapoor commented on #25
@alolita @hardik-k-shah @allenyin96 Any update on this issue?

[2019-12-17 13:42] rauizab commented on #7
Hi, we are having the same problem with 1.2.1
[code]

We are running the docker image "amazon/opendistro-for-elasticsearch-kibana:1.2.1"
Could you help us fixing it?

Best regards

[2019-12-18 15:43] opoplawski opened #46 "kibana is shutdown on upgrade and not restarted"
Upon upgrading, kibana is shutdown and not restarted.  I'm not sure why you don't follow standard practice and do something like this (taken from openssh-server):
[code]

[2019-12-26 01:40] q2dg commented on #23
Well, there's a 7.5.1 release shipped already ....it seems a neverending race

[2019-12-27 16:43] kfox1111 opened #47 "helm chart versions"
The helm chart is using api's still that are disabled in newer versions of kubernetes:
apiVersion: apps/v1beta1

This means the chart does not work on newer kubernetes clusters.

[2019-12-27 16:57] kfox1111 commented on #47
Its also failing with helm3 on missing selectors on deployments/statefulsets.

[2020-01-02 06:24] alolita commented on #47
Hi @kfox1111 thanks for reporting these issues. Can you please add the error messages you're see when running when you use these older APIs. What version of k8s are you using?

[2020-01-02 17:32] kfox1111 commented on #47
I don't have all the error messages handy unfortunately. But most of the details are here:
https://kubernetes.io/blog/2019/07/18/api-deprecations-in-1-16/
Specifically:
[code]

The other part, helm v3 actually validates what it uploads now and fails if the apiserver doesn't like fields. spec.selector is required in Deployments and Statefulsets.
The kubernetes api doc specifies this, here:
https://

[2020-01-02 20:41] alolita commented on #47
Thanks! @kfox1111

@rishabh6788 can you update this thread you've had a chance to debug?

[2020-01-03 20:28] drweber commented on #47
Hi @alolita we have faced the same issue with Kubernetes 1.16.3 (Rancher). After fixing problem with APis bu applying patch `patch -p1 < diff.patch`
[code]

warning with deprecated about API gone, but now we have
[code]

[2020-01-03 20:32] alolita commented on #47
This is super helpful. Thanks! @drweber - we'll circle back on fixing these issues.

[2020-01-03 20:36] drweber commented on #47
If I can add something please just let me know.

[2020-01-04 21:16] jimmyjones2 opened #48 "Helm chart use of secret for config"
[code]
If this is config, why not use a configmap? That would make it easier to edit in the web interfaces of some Kubernetes web interfaces.

[2020-01-06 00:29] DandyDeveloper commented on #48
@jimmyjones2 I think the justification is because the config actually contains a large number of secrets for production level workflows. Therefore it made it more sensible to lock this into a secret as opposed to a ConfigMap.

[2020-01-06 00:32] DandyDeveloper commented on #39
@mosajjal
1. Can this co-exist?
From a chart / deployment perspecitve, yes. A large part of this chart is reinvented and has no relationship to the other available Elasticsearch based charts. I'd recommend namespacing your releases, just to be safe, but there should be no direct overlap between them.

2. Can the migration be done on a node-by-node basis?
What do we mean by migration here? There's

[2020-01-06 00:37] DandyDeveloper commented on #39
I've just noticed this is also a much older question, sorry. I am just taking part in discussions post the merge of the Helm chart.

[2020-01-06 11:00] kaumudpa commented on #23
@alolita Any timeline when support for ES 7.4.2 will be available? as mentioned by @q2dg ES 7.5.1 is also publically available!

[2020-01-06 20:44] jimmyjones2 commented on #48
@DandyDeveloper As far as I can see it only contains elasticsearch.yml, log4j2.properties and logging.yml. I suppose elasticsearch.yml can contain pemkey_password, keystore_password, but the actual keys are stored in secrets elsewhere, referenced as transport-certs, rest-certs and admin-certs.

[2020-01-07 07:53] alolita commented on #23
Hi @kaumudpa Open Distro 1.4 support 7.4.2 is in the works. Expect an update in the next couple of weeks. Open Distro 1.5 is right after with 7.5.x support.

[2020-01-07 16:38] beilber commented on #47
@drweber I ran into this as well on my kube v1.16.2 lab.   I made a fork and committed changes needed to adhere to the requirement to have `selector` defined in newer api versions.

https://github.com/beilber/opendistro-build/commit/a35baa7624f4265179a6c3617364d6ae407e70cb

[2020-01-07 19:29] drweber commented on #47
@beilber great looks good. What kind of storageClass do you use ?

[2020-01-07 22:28] beilber commented on #47
@drweber I use https://github.com/nmaupu/freenas-provisioner

[2020-01-07 23:08] alolita commented on #16
Windows support for Open Distro was added in 1.3 - see https://opendistro.github.io/for-elasticsearch-docs/docs/install/windows/

Closing issue.

[2020-01-07 23:08] #16 closed

[2020-01-08 21:35] tristancrockett opened #51 "Optimise dependency tree for release"
As per this comment > https://discuss.opendistrocommunity.dev/t/rpm-packages-dependencies-issues/1105/2

Can the dependency trees for distro's be optimised before release? As ongoing patching becomes an issue on rpm distros. This happens on brand new, fresh installs.

[2020-01-08 22:10] alolita commented on #51
Hi @tristancrockett Thanks for raising this issue. Yes they should be optimized. As users migrate from earlier versions of Open Distro to the latest version, dep trees for each version need to be set up.

[2020-01-09 13:56] sofarsog00d opened #52 "es-client / opendistro-es-discovery: name or service not known"
Kubernetes: v1.16.3 (Rancher)
DNS: CoreDNS

I've tried to check es-client but got an empty reply:
`
curl -XPOST "http://127.0.0.1:9200/_search" -d'
  {
     "query": {
       "match_all": {}
     }
  }'
`
`curl: (52) Empty reply from server`

[code]

And the error from opendistro-es-client-6644657b48-2vklw pod:
[code]

[2020-01-10 18:02] aleybovich opened #54 "Running in docker: Kibana server is not ready yet"
I tried running elastic+kibana locally in docker with the following docker-compose.yml:

[code]

The nodes come up fine, no errors in the logs for either elastic or kibana, and I can access elastic by running `curl https://localhost:9200 -u admin:admin --insecure`

When I try to access Kibana from the browser or command line (curl) I get "Kibana server is not ready yet" message. I see the same mes

[2020-01-10 23:32] aleybovich commented on #54
I figured out the issue - turned out Docker didn't have enough memory allocated. Oddly Kibana didn't complain, just sat and did nothing but after I increased Docker available memory to 4GB (as was advised in an elastic blog post somewhere) it all started working.

@alolita I think you guys should update the Docker Install documentation with the above - Min Docker memory should be 4GB and possibly

[2020-01-11 01:28] alolita commented on #54
Hi @aleybovich sorry to hear you ended up spending a lot of time on figuring out the issue /  minimum memory requirements for the Docker setup. The documentation at https://opendistro.github.io/for-elasticsearch-docs/docs/install/docker/ indicates you need 4GB of RAM to start. If there are other places in the docs you were looking, please let us know and file a PR to add the requirement and we'd b

[2020-01-13 05:13] #54 closed

[2020-01-14 07:00] koobs commented on #30
@mzs114 One may want to start with notes on where opendistro fails/needs work, and address those items in a "freebsd port", that we could them upstream patches for.

Most bash/linux'isms in upstream software has example fixes across our ports tree, so its quite rare to have super involved or problems with unknown solutions, modulo *actually* depending on linux specific syscalls/features that requi

[2020-01-15 19:39] whiskerch opened #56 "Applying Security Configuration in helm charts"
Hi,

I am using the helm documentation here: https://github.com/opendistro-for-elasticsearch/opendistro-build/blob/master/helm/README.md and opendistro-docs (https://opendistro.github.io/for-elasticsearch-docs/docs/security-configuration/openid-connect/#elasticsearch-configuration) to setup ES in my k8s cluster.

I am using the `securityConfig` in my values.yaml to assign the secrets that should b

[2020-01-17 18:57] DerekHeldtWerle commented on #56
Hey @whiskerch, is there a specific error you are receiving that requires these configs to be propagated to the client/data pods? I don't believe there is any hard requirement for them to be pushed on to them, but our setup may be different than yours.

[2020-01-21 17:06] whiskerch commented on #56
Hi @DerekHeldtWerle  I was attempting to set the various config files for my instance (So I can use a OIDC service for user auth)

I can see the files are applied to the master node, but when I looked at the client nodes they had the default demo configurations applied.

After updating the helm chart all is working for me - It is possible that it is working for me dur to a different change. - But

[2020-01-28 10:17] alrf opened #61 "Set tag versions for project"
Please update and use the tags for project.

[2020-02-01 22:39] marshallford opened #69 "Helm Chart: PSP does not include hostPath volume type"
While I can't seem to find any reference to a volume of type `hostPath`, the PodSecurityPolicy admission controller cannot find a PSP to use when `global.psp.create` is set to `true`.

Thanks!

Error:
[code]

Proof of default storage class:
[code]

Helm values:
[code]

[2020-02-03 07:02] DandyDeveloper opened #70 "Helm Chart is duplicated in multiple repositories under opendistro-for-elasticsearch"
The same helm chart is currently published in two places, I don't know which one I should be submitting my PRs to:

https://github.com/opendistro-for-elasticsearch/community
https://github.com/opendistro-for-elasticsearch/opendistro-build

?????

[2020-02-04 06:41] reshrama opened #72 "GPG Key import failing while installing OpenDistros ES via RPM"
Hi Guys,

I am trying to install OpenDistros ES into an EC2 instance via RPM package.
While creating the repository file via the command: `sudo curl https://d3g5vo6xdbdb9a.cloudfront.net/yum/opendistroforelasticsearch-artifacts.repo -o /etc/yum.repos.d/opendistroforelasticsearch-artifacts.repo`  I am getting the below error:

`Retrieving key from https://d3g5vo6xdbdb9a.cloudfront.net/GPG-KEY-opend

[2020-02-12 08:43] rishabh6788 commented on #72
I just tried installing RPM distribution on an EC2 instance running Amazon Linux and it went through without an issue.

Can you once try deleting '/etc/yum.repos.d/opendistroforelasticsearch-artifacts.repo' file and reinstalling the ES again?

If it still fails can you please provide the content of "/etc/yum.repos.d/opendistroforelasticsearch-artifacts.repo" file ?

[2020-02-19 17:55] aetter commented on #18
https://opendistro.github.io/for-elasticsearch-docs/docs/install/windows/

[2020-02-19 17:55] #18 closed

[2020-02-19 17:55] aetter commented on #23
https://opendistro.github.io/for-elasticsearch-docs/version-history/

[2020-02-19 17:55] #23 closed

[2020-02-19 17:59] aetter opened #81 "Shasum for the tarball assumes it resides in a subdirectory"
Following the installation steps from the tarball guide (at https://opendistro.github.io/for-elasticsearch-docs/docs/install/tar/) fails at step 3 "verify the tarball against the checksum".

The checksum file seems to assume that the downloaded tarball sits in a `tarfiles/` subdirectory.

[code]

1.2.0 works. 1.3.0 doesn't, so the issue cropped up between those two releases.

[2020-02-19 20:26] q2dg commented on #23
Well, I don't want to be a moron, but there's the 7.6.0 version release already.
My main complain isn't about the Open-Distro itself but about its discrete plugins ...I can't install them on last ElasticSearch version.
The worst is that it's not a current problem...it seems it will be here many time from now in a neverending race...

[2020-02-20 00:50] aetter commented on #23
Hi @q2dg, don't worry, it's a common question.

ODFE is a bit like a Linux distro. It takes some time for Linux distros to use the latest version of the kernel. After it releases, distros have to pick it up, test it against their components, make changes for compatibility, build, perform additional testing, etc.

Our project is smaller, so our turnaround time is (hopefully) much faster, but we're

[2020-02-27 05:09] ragdaj opened #84 "Support Elasticsearch 7.6"
support ELK 7.6

[2020-03-15 17:04] kfox1111 opened #90 "sysctl disable"
The chart currently requires privilege to deploy an elasticsearch. There is no way to disable the sysctl init container even if your hosts have already been preconfigured for it.

[2020-03-20 22:57] j0hnth0m commented on #99
I also noticed that the <es_home>\bin folder no longer contains the elasticsearch-service-*.exe's.

[2020-04-03 10:40] jantonio85 opened #107 "I can't install version 1.4.0-1 and 1.6.0-1"
I was trying installing in CentOS Linux release 7.6.1810 (Two days ago, I installed version 1.4.0 without problems).
With this doc:
https://opendistro.github.io/for-elasticsearch-docs/docs/install/rpm/
opendistroforelasticsearch 1.4.0-1

`Elasticsearch plugins dir: /usr/share/elasticsearch/plugins
Elasticsearch lib dir: /usr/share/elasticsearch/lib
Detected Elasticsearch Version: x-content-7.4.2
D

[2020-04-03 14:52] rishabh6788 commented on #107
please make sure you have wget and unzip utilities on your machine.
sudo yum install wget unzip

[2020-04-03 14:56] rishabh6788 commented on #107
Opendistro-1.6.0 comes with k-NN plugin.
The plugin needs additional library to be present on the machine and it is installed the runtime.
You need wget and unzip utilities on your box to install it.
You can run 'sudo yum install wget unzip'

[2020-04-06 08:11] jantonio85 commented on #107
Hello,
I have tried to install version 1.4.0 without unzip and wget and today works fine (I supose some problem in repository in that moment)
Regarding version 1.6.0, I tested with unzip and wget package and it works.
But I have some question... I would need internet connection for install version 1.6.0???
I mean, I would have to download a package each time that I have to install (and the unzip i

[2020-04-06 18:30] celesteking opened #113 "create a CI/CD for plugin building"
You need a CI/CD that would build java binary blobs so that they could be installed later into ES.

https://opendistro.github.io/for-elasticsearch-docs/docs/install/plugins/#plugin-compatibility

Setup a hook on ES repos and build your stuff against it once ES pushes a new patchver/releasever.

Thanks.

[2020-04-08 13:57] stannie42 opened #108 "Improve knn library install from preInstall script"
Hello,

I need to install opendistroforelasticsearch package in a disconnected environment. The package is retrieved via an apt proxy, however the package directly does some wget in the preInstall script. Could opendistro-build embed the knn library directly in its package and avoid this wget ?

Thanks.

[2020-04-13 01:17] DandyDeveloper commented on #70
https://github.com/opendistro-for-elasticsearch/community/issues/157

Question answered here. Closing.

[2020-04-13 01:17] #70 closed

[2020-04-13 13:56] Sparkdaddy commented on #90
Upping this issue -- I am trying to deploy the chart but I am unable to run the containers as privileged. It would have been helpful to me if there was an option to not run the elasticsearch containers as privileged and as a nonRoot user.

[2020-04-13 14:38] johnthom opened #112 "odfe-1.6.0.zip distribution missing Windows executables"
The Windows zip file download for 1.6.0 is missing Windows java jdk\bin executables (DLLs and EXEs) and the other executables under the bin folder, i.e. -  elasaticsearch-service-mgr.exe, etc.  I first noticed this issue with 1.4.0.

ref url: https://d3g5vo6xdbdb9a.cloudfront.net/downloads/odfe-windows/ode-windows-zip/odfe-1.6.0.zip

[2020-04-13 19:18] alolita commented on #84
https://opendistro.github.io/for-elasticsearch-docs/version-history/

1.6.0 released on April 2

[2020-04-13 19:18] #84 closed

[2020-04-13 20:33] alolita commented on #61
@alrf can you provide more context for your request. Thx!

[2020-04-20 05:57] Haneefh opened #117 "ODFE release for Elastic search 7.6.2"
I would like to use ODFE for Elastic Search 7.6.2. The current version doesnt support it. Is there a workaround or when would be there a release for 7.6.2 version

[2020-04-20 06:16] #113 closed

[2020-04-20 06:21] alolita commented on #25
@manavkapoor are you still seeing this issue. Have asked our security engineers to confirm. cc: @hardik-k-shah

[2020-04-20 06:22] alolita commented on #61
@alrf we're working on it.

[2020-04-20 06:22] #61 closed

[2020-04-24 11:04] cr0ssmind opened #118 "Not so elegant way to distribute shared objects inside RPM - kNN plugin installer"
Hello Guys,

after v 1.6.0 installation started hanging I have checked the RPM and it shocked me little bit.
This is not so elegant and "enterprise friendly" way to distribute - especially -  shared objects.
Why don't you distribute it as standalone package as other components?

[code]

[2020-04-24 11:57] rishabh6788 commented on #118
Hey @cr0ssmind ,

Thanks for flagging the issue.
Could you please elaborate more on hanging issue?
Was it due to k-NN plugin download part?
Were you able to finally run the odfe-1.6.0?

[2020-04-24 14:19] cr0ssmind commented on #118
Dear @rishabh6788 ,

there was everything fine with the download url.
The issue here is security related that the odfe-16.0 installer uses an external wget (from a closed enterprise network point of view) download inside a signed rpm:
`wget https://d3g5vo6xdbdb9a.cloudfront.net/downloads/k-NN-lib/libKNNIndexV1_7_3_6.zip`
and there is no warranty for integrity ( eg. hash calculation ) so it can be

[2020-04-24 16:40] thejavator opened #119 "Elastic 7.5.1"
Hello,
I have just seen that you have released version 1.6 that supports Elastic v7.6. Is there any version that supports 7.5.1?
I have Elastic 7.5.1 installed and tried to installa release 1.6 but requires java 11.
Is there any solution for this?
Thanks in advance

[2020-04-29 17:45] vamshin opened #120 "Opendistroforelasticsearch-1.6.0.rpm fails to install if not connected to internet"
Related to https://discuss.opendistrocommunity.dev/t/opendistroforelasticsearch-1-6-0-rpm-fails-to-install-if-not-connected-to-internet/2551.

[2020-04-30 07:53] zeising commented on #120
Just a quick note to say that I've also run into this issue.

[2020-05-01 20:19] rrichardson opened #121 "Read-Only filesystem error on master, data and client nodes when setting any config value"
If I set `config:` in values.yaml to anything other than `{}` then the nodes all fail to start, because it appears it is trying to write elasticsearch.yml to a read-only part of the filesystem.

[code]

[2020-05-03 15:12] rosenjiang commented on #117
i have same issue.

[2020-05-04 09:36] oranenj commented on #118
This issue prevents us from upgrading Opendistro, as our Elasticsearch hosts don't have internet access. I am not sure why, but in our case the lack of internet access also caused yum to hang, leading to a corrupted yum transaction as it had to be terminated mid-installation

Even if you ignore the part where a noarch package installs architecture-dependent files, downloading stuff from the intern

[2020-05-04 15:38] rishabh6788 commented on #118
Hi all,

Thanks for your patience, we are working on to address this issue and will try to provide you a workaround.

[2020-05-05 11:25] froggy75013 commented on #117
I have same issue too.

[2020-05-05 11:32] tmbs commented on #107
#120

[2020-05-05 21:58] penghuo opened #127 "ODFE Kibana 1.6 tarball doesn't work on MAC"
Follow the doc https://opendistro.github.io/for-elasticsearch-docs/docs/kibana/#run-kibana-using-the-tarball.
When running the kibana, it show the error messages.
[code]
I think either we call out it only running on Linux or provide the Mac version.

[2020-05-06 03:07] leanderli opened #130 "How to make odfe to running on arm64 server ?"

[2020-05-06 15:27] akshayurdh commented on #120
I use internal repo and system does not have access to internet hence unable to install 1.6.0. I have to revert back to 1.4.0

[2020-05-07 19:04] alolita commented on #130
Hi @leanderli currently Open Distro doesn't support ARM64 - can you share your use case for this request so that we can consider for our backlog? Thanks!

[2020-05-07 19:06] alolita commented on #127
Hi @penghuo we don't support MacOS yet but it is on our backlog.

[2020-05-07 19:13] alolita commented on #120
Hi @vamshin @zeising @akshayurdh - Are you just trying to upgrade to 1.6.0 with the ODFE RPMs? Can you provide more details on your install?

[2020-05-07 19:17] alolita commented on #119
Hi @thejavator We do not currently have a Open Distro version released for 7.5.1. What version of Java are you using? Can you provide more details on what issues you're running into. Thanks.

[2020-05-07 19:22] alolita commented on #118
Hi @cr0ssmind @oranenj - Thanks for flagging the issue. We're aware of this and are looking at the best way to solve this. We welcome any improvements you may have.

[2020-05-08 02:17] leanderli commented on #130
I need to use odfe with aarch64 in my server station and also odfe-kibana.

After I read [opendistro-build/elasticsearch/linux_distributions/opendistro-tar-build.sh] that it looks like just use elastic elasticsearch and Open Distro plugins make build together to get Open Distro for Elasticsearch.

Is that means is useful if I can build elastic elasticsearch for arm64 server success and then make b

[2020-05-11 07:46] ankitde96 commented on #117
I have same issue.

[2020-05-11 09:01] zeising commented on #120
Our elasticsearch environment does not have internet access, so we sync the RPMs to a local repository to install from. However, this does not work wiht 1.6.0 since it tries to fetch the KNNIndex library/plugin directly from the internet (from cloudfront). This library needs to be included in the RPM file.

[2020-05-11 09:08] hensko commented on #120
The solution should be to include the kNN-library inside the opendistroforelasticsearch-1.6.0.rpm.
Using wget inside a rpm does not manage the permissions and rpm-database in a good way.
And if rpm handles the file, it will be removed upon uninstall, which is much better then the solution in the rpm today.

[2020-05-11 09:44] zeising commented on #120
This sounds good to me.  I don't know exactly how to get the build infra to do this though, so I'm not able to make a PR, at least not right now.

[2020-05-11 09:58] zeising commented on #120
Looking at this: https://github.com/opendistro-for-elasticsearch/opendistro-build/blob/master/elasticsearch/linux_distributions/scripts/preInstall.sh which is the script that tries to fetch kNN, it should be enough, probably, to package libKNNIndexV1_7_3_6.so (or another version, if more appropriate) in the rpm (and deb, I guess) directly, instead of packaging the .zip and extracting that one.

[2020-05-11 14:30] akshayurdh commented on #120
We have a local repository where we sync all dependent ODFE rpms and then install/upgrade from our local repo. as and when required.

[2020-05-12 11:30] kamolhasan opened #148 "How to set password for `admin` user during bootstrapping the cluster?"
I'm using the helm chart to deploy Elasticsearch on a Kubernetes cluster. Is it possible to provide the password for `admin` user while bootstrapping the cluster? I know that it can be changed by entering into a master node and generating new hash for new passwords and so on.

Is there any environ variable like `ELASTICSEARCH_PASSWORD` which is already there for kibana deployment?

Or is it possib

[2020-05-13 17:25] an-sush opened #150 "opendistroforelasticsearch/opendistroforelasticsearch or amazon/opendistro-for-elasticsearch"
As per Opendistro official [documentation](https://opendistro.github.io/for-elasticsearch/downloads.html), the docker image to be used is amazon/opendistro-for-elasticsearch. However, looking at the [github actions on this repo](https://github.com/opendistro-for-elasticsearch/opendistro-build/blob/31c89a095ef0bc4f4045b178102415fd595b1bf5/.github/workflows/webhook-build-docker.yml#L210), it seems t

[2020-05-14 13:01] Chivolta commented on #120
I have the same situation. Do you know any workaround?

[2020-05-14 15:26] sureshkoduri123 opened #153 "Unable to connect to ODFE Docker Container using the Spring Boot App"
Am unable to connect ODFE Docker Container from a Java Spring Boot App. The following error is seen:
`org.elasticsearch.client.transport.NoNodeAvailableException: None of the configured nodes are available: [{#transport#-1}{_nQbb0bvTTi0NOGs_Jm8Dw}{localhost}{127.0.0.1:9200}]`

Application properties:
[code]

[2020-05-14 16:38] thejavator commented on #119
Hello,
Thank you for your response. Here is the error showing when trying to install alerting plugin :

`$ /usr/share/elasticsearch/bin/elasticsearch-plugin install file:/tmp/opendistro_alerting-1.7.0.0.zip
`
[code]
I'm using Elastic v7.5.1 with Java 8. Is there a version of OpenDistro compatible with this configuration?
Thanks in advance

[2020-05-15 12:18] Crazyigor1987 opened #154 "HELM - Upgrade not possible"
I'm running Open Distro v1.6.0 on Kubernetes installed with HELM. After I wanted to upgrade, i get those errors.

My command
`helm upgrade --install elasticsearch --namespace elasticsearch --values=./values.yaml ./opendistro-es-1.7.0.tgz
`

E0515 14:15:05.773952   10696 portforward.go:372] error copying from remote stream to local connection: readfrom tcp4 127.0.0.1:33755->127.0.0.1:41362: write t

[2020-05-15 12:41] df-cgdm commented on #107
Same with version 1.7.0-1

[2020-05-15 20:53] alolita commented on #118
@weicongs-amazon @vamshin can you provide more details

[2020-05-15 20:56] alolita commented on #154
Hi @Crazyigor1987 sorry to see you're running into this issue. We'll take a look and respond back.

[2020-05-15 21:28] peterzhuamazon commented on #150
Hi @an-sush,

**opendistroforelasticsearch/opendistroforelasticsearch** is used for the _**test stage**_ for our internal verification before releasing to public.

**amazon/opendistro-for-elasticsearch** is the official docker hub that we used to offer customers the official latest releases, aka the _**release stage**_.

Please go ahead and use the image provided in amazon/opendistro-for-elasticse

[2020-05-15 21:35] #150 closed

[2020-05-15 23:31] weicongs-amazon commented on #148
Hi @kamolhasan could you try to use the way mentioned in the doc: https://aws.amazon.com/blogs/opensource/change-passwords-open-distro-for-elasticsearch/ to reset your password?

[2020-05-15 23:34] weicongs-amazon commented on #153
Hi @sureshkoduri123  have you tried to access the endpoint with curl command? https://opendistro.github.io/for-elasticsearch-docs/docs/install/docker/ could you share the output of it?

[2020-05-15 23:42] weicongs-amazon commented on #117
Hi, @Haneefh @rosenjiang @Spykyx @ankitde96  7.6.2 isn't supported yet. but you can try the [Standalone Elasticsearch plugin installation way](https://opendistro.github.io/for-elasticsearch-docs/docs/install/plugins/) to install the plugins one by one with ES 7.6.2. But we are not 100% sure if they are fully compatible since we never test our plugins with 7.6.2.  Thanks

[2020-05-15 23:57] weicongs-amazon commented on #130
Hi @leanderli  I think you can try the way mentioned above. but one more thing is related to KNN library. You probably need recompile the it with the similar way like this: https://github.com/opendistro-for-elasticsearch/opendistro-build/blob/master/elasticsearch/linux_distributions/k-NN-lib-buildscripts/build-kNNlib-rpm.sh

if you don't need knn plugin, you can just simply remove it. then have a

[2020-05-16 02:43] boostchicken commented on #130
@alolita My use case is wanting to save cost with the new m6g instances.

[2020-05-16 04:34] weicongs-amazon commented on #118
Hi @oranenj @cr0ssmind our team is working on fix the issue. In the meanwhile, one workaround you probably can try with:
[code]

The key idea is that remove opendistroforelasticsearch-x.x.x.rpm and install the other RPMs and libKNNIndexV1_7_3_6 manually.

[2020-05-16 04:37] weicongs-amazon commented on #120
Hi, all
our team is working on fix the issue. In the meanwhile, one workaround you probably can try with:

 #Get all needed rpms
 sudo curl https://d3g5vo6xdbdb9a.cloudfront.net/yum/opendistroforelasticsearch-artifacts.repo -o /etc/yum.repos.d/opendistroforelasticsearch-artifacts.repo
 sudo yum install --downloadonly --downloaddir=opendistro-rpms opendistroforelasticsearch-1.7.0
 cd opendistro-rpm

[2020-05-16 04:39] weicongs-amazon commented on #118
same issue with #120. close this one. pls leave your comments in #120 if you still have issues, thankis

[2020-05-16 04:39] #118 closed

[2020-05-16 04:44] weicongs-amazon commented on #107
pls check #120 for Internet connectivity issue.  Also copy the workaround here:
[code]
The key idea is that remove opendistroforelasticsearch-x.x.x.rpm and install the other RPMs and libKNNIndexV1_7_3_6 manually.

Here I used 1.7.0 ODFE version. it should be the same for other versions which include KNN plugin.

pls leave your comments in #120 if you still have issues. thanks

[2020-05-16 04:44] #107 closed

[2020-05-16 04:57] weicongs-amazon commented on #72
close it. feel free to reopen it if you still have issue

[2020-05-16 04:57] #72 closed

[2020-05-16 04:58] weicongs-amazon commented on #39
close it. feel free to reopen if you still have issue

[2020-05-16 04:58] #39 closed

[2020-05-16 05:01] weicongs-amazon commented on #27
This should be container configuration issue. feel free to reopen it if you still have issue

[2020-05-16 05:01] #27 closed

[2020-05-16 05:04] weicongs-amazon commented on #108
Hi @stannie42  This issue is the same with #120. our team is working on fixing it.

[2020-05-16 05:04] #108 closed

[2020-05-16 05:11] df-cgdm commented on #107
That's a weird solution and go against .rpm and .deb way of use. Either the lib should have is own .rpm/.deb or it should be included in opendistroelasticsearch one.

[2020-05-16 13:55] weicongs-amazon commented on #107
@df-cgdm yes, you are right.  This is a workaround which allows us to be able to create the cluster with current releases. our engineering team is working on fixing it with final solution

[2020-05-17 02:25] an-sush commented on #148
@kamolhasan not really along with bootstrap but what you can do is to create a secret object upfront and then [pass the secret name](https://github.com/opendistro-for-elasticsearch/community/blob/c1f2802205eb11c0fdbbbef909b0e33e90ea2ad5/open-distro-elasticsearch-kubernetes/helm/opendistro-es/values.yaml#L131) in [values.yaml](https://github.com/opendistro-for-elasticsearch/community/blob/master/op

[2020-05-17 02:32] an-sush commented on #154
@Crazyigor1987  I updated the [imageTag](https://github.com/opendistro-for-elasticsearch/community/blob/c1f2802205eb11c0fdbbbef909b0e33e90ea2ad5/open-distro-elasticsearch-kubernetes/helm/opendistro-es/values.yaml#L17) in values.yml (its present in 2 places in this file) and then run helm upgrade:

[code]
It worked fine and opendistro was upgraded

[2020-05-17 09:13] peterzhuamazon commented on #119
Hi @thejavator,

Sadly we do not have a ODFE version that support ES 7.5.1 version right now.
https://opendistro.github.io/for-elasticsearch-docs/version-history/
https://opendistro.github.io/for-elasticsearch-docs/docs/install/plugins/

As you can see in our release history, there is a gap between the 1.4.0 and 1.6.0 as we try to catch up with the release from elastic.co. We have proceeded with t

[2020-05-18 02:39] alolita commented on #119
@thejavator Thanks for clarifying your dependency for Java 8. Can you open a separate issue for requesting Java 8 support and a 7.5.1 Elasticsearch-oss build? Thanks.

[2020-05-19 04:52] weicongs-amazon commented on #121
Hi @rrichardson  could you help to share your config values?

[2020-05-19 04:54] weicongs-amazon commented on #52
Hi, @sofarsog00d  have you tried with latest version? do you still see the same issue?

[2020-05-19 05:33] kenneyhe commented on #52
I got rid of clusterIP: None in that opendistro-es-discovery service to make it work...

[2020-05-19 11:46] tdinucci opened #162 "RPM for v1.6.0 is has broken"
It seems since the release of v1.7.0 the RPM for v1.6.0 is broken. When installing it is attempting to pull the anomaly detection plugin which wasn’t part of the old version:

[code]

Please advise how I can use the old RPM.

Thanks

[2020-05-19 12:34] leanderli commented on #130
Ok,thanks! I will try to do it and share the lastest issue for you.

[2020-05-19 17:56] weicongs-amazon commented on #162
@tdinucci  There is a bug in the 1.7.0 release. we have fixed it. could you try it again?

[2020-05-19 19:36] jsirianni opened #163 "(Helm) Cannot override storage size for master / data using customvalues.yaml"
This may be GKE specific, I have not tried on other Kubernetes distributions.

[Helm readme](https://github.com/opendistro-for-elasticsearch/opendistro-build/tree/master/helm) says default values for storage are `gp2-encrypted` and `50Gi`
[code]

By default I am getting `standard` and `8Gi`. I expected the standard storage class, as that is the default for GKE. I am confused as to why 8Gi is used.

[2020-05-19 19:44] jsirianni commented on #163
Looks like the documentation is wrong. I found the correct config by looking at the default values file
[code]

I will file a pull request to fix the doc.

[2020-05-19 21:54] tdinucci commented on #162
Thank you - things look better now 👍

[2020-05-19 22:54] #162 closed

[2020-05-20 01:48] peterzhuamazon commented on #163
Hi @jsirianni ,
Thanks for the contribution and help us correct the error.
I have reviewed the PR and found a few typos.
Please feel free to resolve the discussions and I will check again tomorrow.

Thanks.

[2020-05-20 14:17] 0pendev opened #167 "Not enough permissions when using helm install"
When trying to deploy opendistro on Opensuse Kubic (CNI : weavenet, runtime : CRI-O) I have the following issues on all of my pods except for kibana :

`chroot: cannot change root directory to /: Operation not permitted`

It then crashes loopbackoff.

[2020-05-20 15:03] weicongs-amazon commented on #167
@0pendev  could you share more details of the error? not sure if it's related to privileged permission issue

[2020-05-20 15:07] weicongs-amazon commented on #90
@kfox1111 , @Sparkdaddy  yes, currently privileged permission is needed for initcontainers. https://github.com/opendistro-for-elasticsearch/opendistro-build/blob/master/helm/opendistro-es/templates/elasticsearch/es-data-sts.yaml#L65  you can try to disable it to see if it works for you. pls share the result to us

[2020-05-20 15:16] 0pendev commented on #167
I deploy it using this command :

[code]

Then using kubectl get pods -n empty-namespace :

[code]

And I have the following issue on opendistro-opendistro-es-master-0 :
[code]

The following issue on opendistro-opendistro-es-data-0 :
[code]

The following issue on opendistro-opendistro-es-client-84f8475697-frktb :

[code]

[2020-05-20 16:13] kfox1111 commented on #90
Yes, but we tried disabling the entire block:
[code]
Could be updated to be wrapped in something like:
[code]

[2020-05-20 16:35] #163 closed

[2020-05-20 16:40] peterzhuamazon commented on #163
This issue has been resolves with the merge of #164, thanks @jsirianni.

[2020-05-21 14:49] weicongs-amazon commented on #52
cool, thanks for the info. close the issue. feel free to reopen it if any other issue

[2020-05-21 14:49] #52 closed

[2020-05-24 17:48] thkukuk commented on #167
crio by default does not allow a chroot syscall if the POD does not have the SYS_CHROOT capability, but the elasticsearch entrypoint script is mis-using chroot as su replacement to switch from root to another user.

[2020-05-24 20:20] braunsonm opened #179 "Kibana port is not exposed"
This PR resolved the issue but it was improperly closed. It was not fixed in future versions.
https://github.com/opendistro-for-elasticsearch/opendistro-build/pull/13

[2020-05-26 14:28] weicongs-amazon commented on #167
@thkukuk  thanks a lot for this PR. Close this issue. @0pendev if there is still issue, feel free to reopen it

[2020-05-26 14:28] #167 closed

[2020-05-26 21:34] weicongs-amazon commented on #91
close this issue since it's very old one. feel free to reopen it or create a new one if the issue is still there

[2020-05-26 21:34] #91 closed

[2020-05-26 21:37] weicongs-amazon commented on #17
close the old issue. feel free to reopen it

[2020-05-26 21:37] #17 closed

[2020-05-26 21:39] weicongs-amazon commented on #14
not sure which distribution type you are using. since this is very old issue, just close it and feel free to reopen it

[2020-05-26 21:39] #14 closed

[2020-05-26 21:40] weicongs-amazon commented on #32
close this issue since this is very old. if you see the same issue with latest versions, feel free to reopen it. thanks

[2020-05-26 21:40] #32 closed

[2020-05-27 02:49] weicongs-amazon commented on #90
@kfox1111 yes, you are right. we put this into our backlog. And we will appreciate a lot if you could contribute it back as a PR, thanks

[2020-05-27 17:34] kfox1111 commented on #90
Done.

https://github.com/opendistro-for-elasticsearch/opendistro-build/pull/193

[2020-05-27 18:59] weicongs-amazon commented on #179
Thanks for pointing this out. We have put this into our backlog.

[2020-05-28 07:28] LohithChanda opened #197 "Not able to run Elasticsearch on http with helm install"
I am trying to run elasticsearch on http with helm installer. I tried adding
```--set opendistro_security.ssl.http.enabled=false --set elasticsearch.ssl.rest.enabled=false --set opendistro_security.allow_default_init_securityindex=true --set elasticsearch.securityConfig.enabled=true``` but it still starts it on https!

I've even tried setting up `config.yaml` but it was unable to change the defaul

[2020-05-28 10:34] drazul commented on #121
Hi,
Same error for me.
Reproduce it is easy: you only need to add any value on `elasticsearch.config` map.

I tried with different configurations, I even explicitly  set the writting mode to 644 but it's not working.

My Kubernetes version is `v1.14.10-gke.36` (on GCP)

[2020-05-28 15:46] sushovan23 opened #198 "Upgrading to opendistro from elasticsearch 6.8"
I am trying to upgrade from elasticsearch 6.8 to opendistro 1.6.0
I’m following cluster restart upgrade steps
but after starting elasticsearch when trying to query elastic search for nodes its says
Open Distro Security not initialized.
Then I try to enable security by running the` securityadmin.sh` script
Script is able to connect to cluster but Im getting following error:

[code]

Is this a known

[2020-05-28 15:47] sushovan23 commented on #198
not sure how `.opendistro_security` already exists since we were not using opendistro in 6.8

[2020-05-28 16:28] matty1979 opened #200 "Need better explanation of what I'm doing with use of helm chart"
I'm trying to deploy the helm chart and I'm confused as to what to do to make a config.yml apply during the bootstrap of the helm chart.

I thought following the example of the config.yml, adding it on the values.yml of configSecret: "security-config"
kubectl create secret generic security-config --from-file=config.yml

Deployed via helm following the directions, but nothing has changed on my depl

[2020-05-28 18:56] peterzhuamazon commented on #90
Hi @kfox1111, thanks for the contribution.
I have made some comments when reviewing the #193 PR.
Please take a look and resolve them. Thanks.

[2020-05-28 21:32] #90 closed

[2020-05-28 21:34] peterzhuamazon commented on #90
This issue is now closed by merging PR #193. Thanks.

[2020-05-28 21:43] weicongs-amazon commented on #198
@sushovan23  could you help to share the elasticsearch.yml configuration file and more detailed logs related to the issue "Open Distro Security not initialized."?  And which distribution type are you using for upgrade: rpm, deb, tarball?

[2020-05-29 20:52] weicongs-amazon opened #202 "Hooked Plugin Integration Testing in the Building Workflow"
Run the Integration Test cases in the ODFE distribution building workflow

[2020-05-29 20:54] weicongs-amazon opened #203 "POC: Performance Regression Test Automation - August 2020"

[2020-05-29 20:55] weicongs-amazon opened #204 "Add plugin integration testing in the ODFE building workflow with security"

[2020-05-29 21:00] weicongs-amazon opened #205 "Infra: Add package for FreeBSD"

[2020-05-29 23:40] weicongs-amazon commented on #201
For security feature in production, it doesn't only mean password change. pls take a look at this doc: https://opendistro.github.io/for-elasticsearch-docs/docs/install/docker-security/
@vrozov @sujithvm pls help to share more security related context if needed.

[2020-06-02 01:37] sunilvancha opened #213 "keycloak integration"
Hi,

I am looking to integrate opendistro with keycloak.  As per the below URL security plugin can be used to integrate with opendistro. is this available in this helm chart values.yaml or any other separate chart?

https://opendistro.github.io/for-elasticsearch-docs/docs/security-configuration/openid-connect/

[2020-06-02 02:42] weicongs-amazon commented on #213
Hi @sunilvancha you can take a look at the security configuration part in the doc: https://github.com/opendistro-for-elasticsearch/opendistro-build/blob/master/helm/README.md#security-configuration  by providing your customized file. We never test it before. pls share your result to back to us. Thanks

[2020-06-02 14:49] weicongs-amazon opened #214 "Infra: Add new package: ODFE Homebrew installable package for MacOS"

[2020-06-02 15:42] weicongs-amazon commented on #153
close this issue firstly. if you still have issue, feel free to reopen it

[2020-06-02 15:42] #153 closed

[2020-06-03 06:07] fbarbeira opened #222 "Error upgrading to ODFES 1.8 deb package"
I'm getting an error upgrading ODFES 1.7 to 1.8 on ubuntu18 nodes:

[code]

All packages did the upgrade well except "opendistro-anomaly-detector":

[code]

[2020-06-03 07:58] sureshkoduri123 commented on #153
@weicongs-amazon when I run the following curl command, I get this output:
`curl -XGET https://localhost:9200 -u admin:admin --insecure`
`{
  "name" : "dc070ebe91e9",
  "cluster_name" : "my-cluster",
  "cluster_uuid" : "neFiF5W1Q1Sq-bCpELKirA",
  "version" : {
    "number" : "7.6.1",
    "build_flavor" : "oss",
    "build_type" : "tar",
    "build_hash" : "aa751e09be0a5072e8570670309b1f12348f023b"

[2020-06-03 14:16] matty1979 opened #223 "es-master-sts.yml isn't evaluating correctly"
Using the most current download upon packaging and installing I receive this error.

`Error: template: opendistro-es/templates/elasticsearch/es-master-sts.yaml:63:14: executing "opendistro-es/templates/elasticsearch/es-master-sts.yaml" at <.Values.elasticsearch.sysctl.enabled>: nil pointer evaluating interface {}.enabled`

[2020-06-03 15:26] weicongs-amazon commented on #222
This might be related to package name changes of anomaly detection plugin.

@fbarbeira one workaround can be tried:
[code]
@kaituo could you help to take a look at this issue? I think it's related to package name change

[2020-06-03 19:46] weicongs-amazon commented on #148
close the issue. feel free to reopen it if you still have issue

[2020-06-03 19:46] #148 closed

[2020-06-03 19:47] weicongs-amazon commented on #154
close this issue. feel free to reopen it if you still have issue

[2020-06-03 19:47] #154 closed

[2020-06-03 19:49] weicongs-amazon commented on #119
close the issue. feel free to reopen it if you still have issue

[2020-06-03 19:49] #119 closed

[2020-06-03 19:51] weicongs-amazon commented on #197
@LohithChanda  are you trying to enable the security feature in your cluster?

[2020-06-03 20:17] weicongs-amazon commented on #153
this is related to certification. in the curl command, --insecure is used to skip the certification. If you wanna use this env in your cluster, you can also skip the certification in http client. btw, it's not recommended for production env. it's better to take a look how to set up the security related configuration for production env. https://opendistro.github.io/for-elasticsearch-docs/docs/insta

[2020-06-03 22:44] #179 closed

[2020-06-03 22:49] #10 closed

[2020-06-03 23:14] weicongs-amazon commented on #117
close this issue. 7.6.2 support isn't in our plan now

[2020-06-03 23:14] #117 closed

[2020-06-03 23:53] weicongs-amazon commented on #69
@marshallford Feel sorry for the late reply. Do you still have this issue? have you tried with new version?

[2020-06-03 23:55] weicongs-amazon commented on #26
Thanks for this suggestion. This single image for both of elasticsearch and kibana isn't in our plan currently

[2020-06-03 23:55] #26 closed

[2020-06-03 23:56] weicongs-amazon commented on #130
Close this issue. Feel free to reopen it to share new issue.

[2020-06-03 23:56] #130 closed

[2020-06-03 23:59] kaituo commented on #222
yes, it is related to debian/rpm name change

[2020-06-04 10:25] fbarbeira commented on #222
Hi, in this case it was not enough to remove the package "opendistro-anomaly-detector":

[code]

Instead of that, you must remove the package "opendistroforelasticsearch" as well:

[code]

And then install "opendistroforelasticsearch" package wich already includes a dependency for the package "opendistro-anomaly-detection":

[code]

After that, everything seems ok:

[code]

[2020-06-04 13:24] 0pendev opened #228 "Missing SYS_CHROOT capability in pod policy"
As pointed out by @OlleLarsson in this [pull request](https://github.com/opendistro-for-elasticsearch/opendistro-build/pull/180) the pod policy does not contains the capability SYS_CHROOT necessary with the latest version.

[2020-06-04 14:52] weicongs-amazon commented on #228
@0pendev thanks a lot for this contribution.

[2020-06-04 14:52] #228 closed

[2020-06-04 14:55] weicongs-amazon commented on #222
@fbarbeira thanks to share the updates.

[2020-06-04 19:54] matty1979 commented on #223
Above comment fixed the issue I was having.

[2020-06-04 19:54] #223 closed

[2020-06-04 21:35] #222 closed

[2020-06-04 23:51] sunilvancha commented on #213
I tried integrating with keycloak but i see below errors after logging into to EFK.

plugin:opendistro_security@1.7.0.0 | An error occurred during initialisation, please check the logs.
-- | --

Security tab is not completely visible in EFK portal.

Given below is the values.yaml configuration. I have created required secrets for openid.

# Default values for efk.
# This is a YAML-formatted file.

[2020-06-05 02:28] weicongs-amazon commented on #7
This is very old issue. I don't see the same error in the latest version. close this one. If you do see the issue, feel free to reopen it.

[2020-06-05 02:28] #7 closed

[2020-06-05 16:07] weicongs-amazon commented on #201
close this issue firstly as password change support isn't necessary for production case, since there is a way to provide all of security related configurations. If there is other issue, feel free to reopen

[2020-06-05 16:07] #201 closed

[2020-06-05 16:09] weicongs-amazon commented on #198
close this issue firstly. If the issue is still there, feel free to reopen

[2020-06-05 16:09] #198 closed

[2020-06-05 16:13] weicongs-amazon commented on #127
close this one. use  https://github.com/opendistro-for-elasticsearch/opendistro-build/issues/214 to track this feature

[2020-06-05 16:13] #127 closed

[2020-06-05 16:14] weicongs-amazon commented on #30
close this one. use https://github.com/opendistro-for-elasticsearch/opendistro-build/issues/205 to track this feature .

[2020-06-05 16:14] #30 closed

[2020-06-05 16:18] weicongs-amazon commented on #99
The duplicated issue with https://github.com/opendistro-for-elasticsearch/opendistro-build/issues/112. close this one

[2020-06-05 16:18] #99 closed

[2020-06-05 23:20] weicongs-amazon commented on #121
@rrichardson @drazul have you set up opendistro_security related configurations in the elasticsearch.config map? pls see the note listed in the doc: https://github.com/opendistro-for-elasticsearch/opendistro-build/tree/master/helm#notes-about-default-installation

And we have made an improvement: https://github.com/opendistro-for-elasticsearch/opendistro-build/commit/b93ce34d85645e55c3eafedf5d5ef5

[2020-06-05 23:23] weicongs-amazon commented on #121
And this is another workaround we can try: https://stackoverflow.com/questions/49614034/kubernetes-deployment-read-only-filesystem-error
Copy the readonly file once to enable the write permission of the elasticsearch.yml

[2020-06-06 23:54] farah2020 opened #234 "Compatibility version 7.6.2"
Compatibility with Elasticsearch 7.6.2

[2020-06-08 18:51] peterzhuamazon commented on #234
Hi, @farah2020 7.6.2 support isn't in our plan now. This issue will be closed for now.

[2020-06-08 18:51] #234 closed

[2020-06-09 14:16] weicongs-amazon opened #236 "Add Upgrading Testing for ODFE Distribution Release"
Add Upgrading testing for new version release. This testing will cover the service installation and check if the service can start up successfully after upgrading.

[2020-06-09 14:20] weicongs-amazon opened #237 "Complete Docker Hub certification"
Finish the docker hub  certification for ODFE docker image

[2020-06-09 14:22] weicongs-amazon opened #238 "Set Up Amazon ECR Container Registry for distributing Docker packages for Open Distro"
Set Up Amazon ECR Container Registry for distributing Docker packages for Open Distro

[2020-06-09 14:23] weicongs-amazon opened #239 "Add Testing with new public released ODFE distribution"
Add service testing after new version of ODFE is public released to make sure the service can start up with the command listed in official doc.

[2020-06-09 14:40] weicongs-amazon opened #240 "Automate cluster setup operations for ODFE releases"
Automate the process to set up testing cluster for new ODFE release

[2020-06-09 21:04] weicongs-amazon commented on #213
@sunilvancha could you help to share the detailed error log of security plugin initialization? it seems to be related to security configurations.

[2020-06-09 21:45] weicongs-amazon commented on #51
Currently, the supported elasticsearch OSS  version is listed in our release notes. And for any breaking changes in new version, a new official doc is created, see the example: https://opendistro.github.io/for-elasticsearch-docs/docs/upgrade/1-8-0/  https://opendistro.github.io/for-elasticsearch-docs/docs/upgrade/1-0-0/

[2020-06-09 21:45] #51 closed

[2020-06-09 21:56] weicongs-amazon commented on #47
The version has been updated. close the issue.

[2020-06-09 21:56] #47 closed

[2020-06-09 22:00] weicongs-amazon commented on #46
Thanks for this idea. This isn't in our plan yet.

[2020-06-09 22:00] #46 closed

[2020-06-09 22:51] weicongs-amazon opened #244 "Helm: Updated deprecated resources"
https://github.com/opendistro-for-elasticsearch/opendistro-build/pull/79

[2020-06-09 23:11] peterzhuamazon commented on #51
To avoid future confusions, I have added the notes as breaking changes to 1.0.0 and 1.8.0 release notes.
https://github.com/opendistro-for-elasticsearch/opendistro-build/pull/243
Thanks.

[2020-06-10 00:49] weicongs-amazon opened #246 "Release ODFE 1.8.1 based on ES 7.7.1"
ODFE 1.8.1 Release based on ES 7.7.1

[2020-06-10 02:37] xinlamzn commented on #246
Required for the security fixes in 7.7.1.

[2020-06-10 08:02] WennySoft commented on #120
Hi,

as we do an automatic install the workaound would be somewhat complex. As we currently do not use this plugin: is there any possibility to skip this step completely?

Is there an estimation when this issue will be fixed - perhaps we could delay the update then....

Regards Michael

[2020-06-11 18:11] weicongs-amazon opened #251 "Source Building and Patching for Elasticsearch"

[2020-06-11 18:12] weicongs-amazon opened #252 "Source Building and Patching for Kibana"

[2020-06-11 18:31] peterzhuamazon commented on #81
Thanks @aetter for reporting this issue in our workflow.
We have fixed the issue in PR #249, and will use it in our next releases.
We will close this issue as it is resolved for now.

[2020-06-11 18:31] #81 closed

[2020-06-11 18:39] weicongs-amazon opened #253 "Integration: Open Distro in Fedora Milestone 3"

[2020-06-11 18:50] weicongs-amazon opened #254 "Infra Integration: Open Distro on Bitnami marketplace"

[2020-06-11 18:53] weicongs-amazon opened #255 "Infra Terraform support for Open Distro"

[2020-06-11 18:54] weicongs-amazon opened #256 "Infra Ansible support for Open Distro"

[2020-06-11 18:58] weicongs-amazon opened #257 "ODFE 1.8.0 Release"

[2020-06-11 18:59] #257 closed

[2020-06-12 14:24] matty1979 commented on #200
Sort of, I can get the helm chart to install, but making any options changes are hard for me to understand and I could use better documentation on it.

[2020-06-15 14:31] weicongs-amazon commented on #200
thanks. close this issue.

[2020-06-15 14:31] #200 closed

[2020-06-15 14:32] weicongs-amazon commented on #197
close the issue. feel free to reopen

[2020-06-15 14:32] weicongs-amazon commented on #121
close the issue. feel free to reopen

[2020-06-15 14:32] #121 closed

[2020-06-15 14:33] weicongs-amazon commented on #69
close the issue. feel free to reopen

[2020-06-15 14:33] #69 closed

[2020-06-15 14:34] weicongs-amazon commented on #34
close the issue. feel free to reopen

[2020-06-15 14:53] marshallford commented on #69
Sorry for the no reply. This issue was opened when I was doing a POC for opendistro and I'm not really working in that space anymore. I have not tried the new version unfortunately, in fact I've moved away from PSPs as well.

[2020-06-15 15:47] weicongs-amazon commented on #69
@marshallford thanks for the updates. pls reach out to us if you have any issue in future

[2020-06-15 15:56] weicongs-amazon commented on #120
@WennySoft For the RPM installation, I don't see a way to skip this plugin since it's a required plugin dependency, unless the plugin standalone installation is ok for your env.
For the fixing, we are trying to have it in our next release 1.8.1 https://github.com/opendistro-for-elasticsearch/opendistro-build/issues/246  firstly.

[2020-06-16 07:02] jkrnak commented on #34
Has this been fixed or why did you close?

[2020-06-16 13:47] weicongs-amazon commented on #34
@jkrnak we shared some comments in the PR https://github.com/opendistro-for-elasticsearch/opendistro-build/pull/31
We think it's not a good way to grant permissions to all of the users. pls share your idea here.

[2020-06-16 14:05] jkrnak commented on #34
@weicongs-amazon sorry, I didn't reply there. I saw the comment and I accept that.
But currently the es image can't run without root privileges (at least if `opendistro_performance_analyzer` is enabled), which makes it difficult to run on shared (multi tenant) clusters.

Do you think we could run supervisord with the same UID as the container is running?

[2020-06-16 14:25] weicongs-amazon commented on #34
Thanks @jkrnak. Agree with you. This is valid point. We should use the same UID. And there should be an alternative way to start the performance analyzer to avoid the supervisord. Let's sync up with the team firstly.

[2020-06-16 17:05] peterzhuamazon commented on #246
### Action Items: ###
- Make version bumps in preparation for 1.8.1 (PR #266)
- Update docker/KNN with the new processes (PR #265)
- More

[2020-06-16 20:42] HeOpuHaMeH9I commented on #69
i'm facing this issue ODFE 1.8.0 Release

[2020-06-17 23:28] sachinmsft opened #273 "KIbana build is failing with no such file or directory"
I am building Kibana image and following the steps but getting below error. Am I missing something. ?

~/opendistro-build/kibana/docker# OPENDISTRO_VERSION=0.8.0 ES_VERSION=6.6.2 make build
jinja2 \
  -D artifacts_url=''https://d3g5vo6xdbdb9a.cloudfront.net/downloads/kibana'' \
  -D version_tag='0.8.0' \
  -D es_version='6.6.2' \
  -D plugins='opendistro-sql-workbench/opendistro-sql-workbench-0.8.

[2020-06-18 16:57] peterzhuamazon commented on #273
Hi @sachinmsft those steps requires connections to aws with our credentials.
May I ask the reason you want to build this image yourself?
We have docker images published [here](https://hub.docker.com/r/amazon/opendistro-for-elasticsearch-kibana). Thanks.

[2020-06-18 17:39] sachinmsft commented on #273
Hi @peterzhuamazon we want to build the entire open distro stack inhouse.
is there any documentation for that ?

[2020-06-18 19:43] peterzhuamazon commented on #273
Sorry @sachinmsft, we currently do not have any documentations.

If you want to build docker image for ODFE in house, you are welcome to download the tar/zip version of ODFE, and create a dockerfile/image for your needs. Thanks.

https://opendistro.github.io/for-elasticsearch-docs/docs/install/tar/

[2020-06-18 19:59] sachinmsft commented on #273
is it not possible to build the individuals plugins separately and then create the docker image by installing these plugins ?

[2020-06-18 20:11] peterzhuamazon commented on #273
@sachinmsft Can you describe exactly what you want to build?
Are you trying to manually build every plugins by yourself?
If you just want to install plugins individually, check [here](https://opendistro.github.io/for-elasticsearch-docs/docs/install/plugins/).

[2020-06-18 21:23] sachinmsft commented on #273
@peterzhuamazon So requirement is to build each and every components in house so that is the reason I was looking to build every plugins by myself and create the docker image inhouse.

[2020-06-18 21:47] peterzhuamazon opened #274 "Release ODFE 1.9.0 based on ES 7.8.0"
ODFE 1.9.0 Release based on ES 7.8.0

------

### Action Items: ###
- Make version bumps in preparation for 1.9.0 (#276)
- Update docker with the new processes on jdk/KNN (PR #265)
- The checksum generation for TAR distribution is fixed now (PR #249)
- KNN optimization on the lib delivery methods (PR #263 #267 #269 #272 #277 #286)
- ODFE build scripts plugin lists into a centralized location (#281

[2020-06-18 22:00] peterzhuamazon commented on #273
If you want to build plugins individually by yourself, please check all the plugin repos [here](https://github.com/opendistro-for-elasticsearch).
This build repo is pulling the artifacts that already built from the plugin repos and package them into release candidates.
Please feel free to contact devs from individual plugin repos if you have confusions on building process of individual components.

[2020-06-23 11:09] junawaneshivani opened #280 "Support for ppc64le architecture"
Hi All,

I have been trying to build the dockerized version of elasticsearch on ppc64le architecture. However, what I observed is, there are x86 specific references in the Dockerfile. Is there any alternate way of building elasticsearch locally instead of directly downloading the artifacts from elastic.co ?

https://github.com/opendistro-for-elasticsearch/opendistro-build/blob/master/elasticsearch

[2020-06-23 15:23] peterzhuamazon commented on #280
Hi @junawaneshivani. Sorry that we currently do not support ppc64le arch.
Our workflow only pulls the oss archive from upstream, and only focus on x86 for now.
However, after a quick search, seems like other sources have provided ppc64le version of the docker images for [ES](https://hub.docker.com/r/ibmcom/elasticsearch-ppc64le/tags) and [Kibana](https://hub.docker.com/r/ibmcom/kibana-ppc64le) on

[2020-06-23 15:47] gerrith3 commented on #280
@peterzhuamazon what do you need to be able to support ppc64le?  We are willing to help get this going in any way needed.

[2020-06-23 23:13] alolita commented on #280
Hi @gerrith3 thanks for reaching out. It would be great to have ppc64le support but we are currently not resourced to support additional architectures. Perhaps your team would be interested in supporting a ppc64le version of the ODFE distribution, maintain version currency and provide a test suite for all plugin developers to verify that their plugins work. Happy for our team to have a chat with y

[2020-06-24 15:26] gerrith3 commented on #280
I think a chat would be excellent.  I can set one up with a couple of IBM players if you would like a phone call, or if there is a slack channel, or just here in the GH issue.  We have interest in both Power and Z (s390x) support across the board and may be able to get things started and figure out where to go from there.  Do you know if there is a good summary of what it would take to create an O

[2020-06-24 19:48] peterzhuamazon commented on #34
We have identify the issue and have a solution proposed.
We are working on it and hopefully will give you an update soon.
Thank you again for your inputs.

[2020-06-25 22:42] peterzhuamazon commented on #273
Close this issue for now and please feel free to reopen it. Thanks.

[2020-06-25 22:42] #273 closed

[2020-06-29 13:03] NicolasPSQ commented on #246
Hello, sorry, but this version will not be release?

Thanks

[2020-06-30 17:59] gsmith-sas opened #294 "Helm: Make Helm charts available via Helm repo"
Currently, people deploying on Kubernetes need to clone the opendistro-build repo and use the Helm package command to create their own Helm chart.  Many (most?) other projects make their (already-built) charts available via a Helm repository.  For example, up until recently, many charts were made available via the stable (Helm) repo.  However, that repository is now deprecated and the Helm team is

[2020-06-30 18:14] gsmith-sas opened #296 "Helm: Add support to request specific version of ODFE to Helm chart"
Development progress on the ODFE is moving rapidly ahead: that is great!  But, for some of us, especially those of us embedding ODFE in our own projects, it is difficult to keep up.  As each new release comes out, we must validate that the latest changes do not modify or break any of the functionality we depend on.  In addition, new releases of ODFE come out as they are finished rather than on a s

[2020-07-02 11:11] itshusi commented on #274
Are you able to say when 1.9.0 will be released?
Cheers? :)

[2020-07-03 06:22] WennySoft commented on #246
Hi,

we are impatiently waiting for this release in order to update our cluster (KNN-delivery-problem) in order to use the new kibana apis.

If this will not be released (as 1.9.0 is on the way?) - are there any information when a release will be available which contains the KNN-fix?

Regards Michael

[2020-07-06 02:42] Hokwang commented on #294
this is must feature and you can make it easily using github.

[2020-07-06 08:50] Hokwang opened #299 "(helm) ingress path (help wanted)"
Hi,

I am behind the corporate proxy and install odfe using helm.
And I use ingress-nginx, local kubernetes cluster (not public cloud).
also use tls I created.

I want to use company.com/odfe-stage for es, for example.

In this case, how can I do?

1. kibana ingress path setting : is this right?
[code]

2. es ingress path setting : is this right?
[code]

I am trying rewrite-target: / and /$1 and $

[2020-07-06 13:43] gsmith-sas commented on #299
@Hokwang Here is a sample someone else on my team put together for handling Kibana ingress (but with no TLS).  Since I didn't write it, I can't explain it; but I've been told it works.

[code]

[2020-07-06 16:21] anirudha opened #300 "All SQL tests hooked with the distribution for"
1. SQL
2. JDBC
3. ODBC
4. CLI
5 Workbench
We recently also added UI tests for workbench

[2020-07-06 16:32] weicongs-amazon commented on #296
Hi @gsmith-sas, feel sorry that new release broke your env. A new release tag will be created for each released version, https://github.com/opendistro-for-elasticsearch/opendistro-build/tree/v1.8.0 . Checking out the repo with the specific tag can be a workaround for your problem. Our team will have a discussion for the long term plan.

[2020-07-06 16:47] weicongs-amazon commented on #300
we will have a plan for this task after sql team shares the instructions about how to run the tests

[2020-07-06 18:08] peterzhuamazon commented on #34
Status Update: this issue still remains open for the upcoming 1.9.0 release.
We plan to push the changes after this release as it requires testings from specific plugin.

[2020-07-06 19:22] peterzhuamazon commented on #246
@NicolasPSQ @WennySoft As of now, we have proceed to work on 1.9.0 ODFE release with 7.8.0 ES.
As of the KNN fix, if you are talking about [this](https://github.com/opendistro-for-elasticsearch/k-NN/issues/154), it will be included in upcoming 1.9.0 release.
Thanks.

[2020-07-06 22:07] peterzhuamazon commented on #120
Status Update: KNN logic will be fixed in 1.9.0 release now. (https://github.com/opendistro-for-elasticsearch/opendistro-build/issues/274)

[2020-07-06 22:39] NickDatLe opened #302 "config.yml settings for OpenID Connect not working with nested hierarchy for roles"
Hello,

I can't seem to get roles working when the roles_key field is not a simple key-value pair. For example, this works:

[code]

When the token looks like this, it works:

[code]

However, when I try to restructure the roles_key to this:

[code]

and restructure my JWT to look like this:

[code]

I think it's the way I defined the "roles_key" field. Any help is appreciated.

[2020-07-07 01:20] Hokwang commented on #299
@gsmith-sas thanks for your comment, I will try that, but first problem is elasticsearch. don't know why I can't access. I will raise another issue.

[2020-07-07 07:57] Hokwang opened #303 "install elasticsearch using helm and use sub path"
Hi,

I can not use elasticsearch due to this issue.

here's reproduce step.
I have local kubernetes cluster and use ingress-nginx.

Here's my values.yaml. It's simple, turn off kibana and using ingress path /es for elasticsearch.

[code]
so I want to use https://company.net/es.

this is install command
`$ helm install odfe-stage -n odfe-stage -f values.yaml opendistro-es-1.8.0.tgz`

and all pod ru

[2020-07-07 17:24] weicongs-amazon commented on #303
@Hokwang are you trying this scenario: Browser -> TLS -> nginx-> TLS-> elasticserach? This is good discussion how to configure the ingress: https://stackoverflow.com/questions/54459015/how-to-configure-ingress-to-direct-traffic-to-an-https-backend-using-https

[2020-07-08 02:14] Hokwang commented on #303
@weicongs-amazon thanks for your comment,

[code]
this is perfect. I will close this issue.

[2020-07-08 02:14] #303 closed

[2020-07-08 02:37] Hokwang opened #307 "[helm] kibana ingress path syntax"
Hello.

In case of elasticsearch ingress path,
[code]
https://github.com/opendistro-for-elasticsearch/opendistro-build/blob/7f24dcb310764c0a8e0921f7bd228aa2d23fad19/helm/opendistro-es/templates/elasticsearch/es-client-ingress.yaml#L17-L44

(Actually I don't know why make `$ingressPath` variable in this file)

But kibana's ingress path is different.
[code]
https://github.com/opendistro-for-elastics

[2020-07-08 10:45] Hokwang commented on #299
In my case, basic solution is below.
[code]

[2020-07-08 10:45] #299 closed

[2020-07-08 16:44] weicongs-amazon commented on #302
please @vrozov @sujithvm help to take a look this issue about how to configure the security feature.

[2020-07-08 16:51] weicongs-amazon commented on #307
@Hokwang thanks for sharing this finding. I think we should use the same way for both eleasticsearch and kibana. The helm chart is mainly contributed by community. Appreciate a lot if you can make a PR for this change.

[2020-07-08 21:38] sushovan23 opened #310 "openid auth not working on 1.8.0. Same config working on 1.6.0"
Getting following exception in elasticsearch when trying to login to kibana which is configured with openid. I have another cluster with 1.6.0 & it is working fine in that. Please let me know if there is a bug fix available for this issue?
[code]

security config:
[code]

Kibana configuration:
[code]

[2020-07-08 22:02] sushovan23 commented on #310
it was issue with time on server. updated time and it worked.

[2020-07-08 22:02] #310 closed

[2020-07-09 07:59] NicolasPSQ commented on #246
Hi @peterzhuamazon ,
thanks for your work and for reply.
the new release 1.9.0 will include support for 7.7.1 or at this point is better to upgrade my elasticstack to 7.8.0 version?

Thanks.

[2020-07-09 15:11] peterzhuamazon commented on #246
Hi @NicolasPSQ as of now we are not working on ES 7.7.1 support.
If you need the security patch ([CVE-2020-7015](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2020-7015)) for Kibana since 7.7.1+, you can choose to try out ODFE 1.9.0 once it comes out, since 7.8.0 will have it.

Once we release ODFE 1.9.0 you will be able to check the release notes for changes and new features, and decide whet

[2020-07-09 16:40] sean-zheng-amazon opened #312 "Hook up AD integration test with distribution"
Please include both AD and AD kibana, both should already have CI/CD set up.

https://github.com/opendistro-for-elasticsearch/anomaly-detection/blob/master/.github/workflows/CD.yml
https://github.com/opendistro-for-elasticsearch/anomaly-detection-kibana-plugin/blob/master/.github/workflows/CD.yml

[2020-07-09 23:55] peterzhuamazon commented on #274
ODFE 1.9.0 released now with ES 7.8.0.
https://opendistro.github.io/for-elasticsearch/blog/odfe-updates/2020/07/Open-Distro-for-Elasticsearch-1.9.0-is-released/

[2020-07-09 23:56] #274 closed

[2020-07-09 23:57] peterzhuamazon commented on #246
ODFE 1.9.0 with ES 7.8.0 release now
https://github.com/opendistro-for-elasticsearch/opendistro-build/issues/274

[2020-07-10 11:36] samarthya opened #548 "README refers to previous version and Helm 3 issue with '--name'"
With [helm 3](https://helm.sh/docs/intro/using_helm/#helm-install-installing-a-package) the name is part of the install command and no longer with the `--name`

The reference provided in the [readme](https://github.com/opendistro-for-elasticsearch/community/tree/master/open-distro-elasticsearch-kubernetes/helm#tldr) refers to the previous version as the option `--name` is there.

For helm version

[2020-07-10 17:12] tahsinrahman commented on #294
+1 this will be very helpful for us

[2020-07-10 21:53] weicongs-amazon commented on #312
We will start working on the AD plugin next week.
And talked to @ohltyler, he will help to share the instructions about how to run the kibana integration tests against remote kibana server

[2020-07-11 12:57] AlexShuraits opened #316 "Upgrade to 1.9.0 wrong order of links in Kibana navigation"
Hi,

I have just upgraded the OpenDistro to 1.9.0
The order of menu items in Kibana looks wrong.
I expect the Discover to be on top, what can cause it?

![image](https://user-images.githubusercontent.com/7362416/87224576-1186ad80-c38f-11ea-84b8-df7fed1def25.png)

I am using Helm Chart with the latest Docker images.

[2020-07-14 15:59] weicongs-amazon commented on #213
@sunilvancha do you still have issue? we will close this issue firstly. feel free to reopen

[2020-07-14 15:59] #213 closed

[2020-07-14 16:17] weicongs-amazon commented on #316
This should be related to latest changes in kibana plugins. @joshuali925 pls help to take a look for sql workbench firstly.

[2020-07-14 17:49] peterzhuamazon commented on #34
Status Update: This issue is now fixed on both the plugins and the build sides.
Will use this new config in the next releases. This issue will be closed as of now.
Thanks @jkrnak for reporting this and sorry for the delay to get it eventually fixed in ODFE.

[2020-07-14 17:49] #34 closed

[2020-07-14 18:11] jkrnak commented on #34
Thank you for fixing it!

[2020-07-15 11:37] adiospeds opened #534 "Opendistro apt repos have multiple issues"
Hello

1.
I was trying to setup a Jfrog Remote artifactory repository in our organisation and was unable to do so. It looks like there is some issue with the `https://d3g5vo6xdbdb9a.cloudfront.net/apt/`
We have been able to setup all other kinds of external apt repos and have been using artifactory for a number of years now, so it doesn’t look like any issue with artifactory settings.
The url http

[2020-07-15 23:57] weicongs-amazon commented on #312
Update: Integration test has been added into all of the distribution building workflow for AD plugin.
Once we get the instructions for kibana plugin, will plan to work on it.

[2020-07-16 00:04] weicongs-amazon commented on #300
any update? @joshuali925

[2020-07-16 15:20] anirudha commented on #300
The current actions on SQL repo will have all steps to run tests. @joshuali925 to comment more as needed

[2020-07-20 15:38] weicongs-amazon commented on #312
The instruction for AD kibana plugin Integration Testing should be like:
[code]

[2020-07-20 15:45] ohltyler commented on #312
I would like to add that `yarn cy:run` is a yarn script that we created in our plugin repository's package.json - the equivalent command is just `cypress run`.

[2020-07-21 23:06] gaiksaya commented on #236
Created a [workflow](https://github.com/opendistro-for-elasticsearch/opendistro-build/blob/master/.github/workflows/check-version-upgrade.yml) that will install the previous version of ODFE for DEB and RPM distribution and check the version upgrade for upcoming version to catch any breaking changes.

[2020-07-21 23:10] #236 closed

[2020-07-21 23:21] gaiksaya commented on #240
Testing clusters domain set up has been automated. You can find the clusters setup below:

## Single node testing cluster

- [ ] Test cluster set-up: Anyone can add this [workflow](https://github.com/opendistro-for-elasticsearch/opendistro-build/blob/master/.github/workflows/test-cluster-set-up.yml) to your repo/fork that uses the this [cloudformation template](https://github.com/opendistro-for-el

[2020-07-22 22:22] weicongs-amazon commented on #312
Update: The integration testing is added for AD Kibana plugin in the distributions except of windows.

@ohltyler will help to sync up with team to see how to support it in windows OS.

[2020-07-23 17:17] weicongs-amazon commented on #300
pls share the instructions here about how to run the integration testing for sql workbench, jdbc, odbc, cli.
 Btw, the testing steps in distribution workflow:
1), create the odfe es and kibana service
2), run the integration tests with the above created es and kibana service

[2020-07-24 18:33] weicongs-amazon commented on #300
@joshuali925 pls also help to share the right folders since al of SQL related repos have been merged into one single Repo

[2020-07-24 19:40] joshuali925 commented on #300
Sure. We'll use Cypress for workbench integration tests. The PR is still pending and might need more tests depending on coverage, but the instructions are:

1. Bootstrap sql-workbench, start es and kibana
2. Load indices into ES
[code]
3. Open and run Cypress
[code]
4. Click "Run all specs"

I'm also testing download functionality, so Cypress will access download dir with `${require('os').homedir(

[2020-07-24 20:50] weicongs-amazon commented on #300
@joshuali925 , thanks for the update. not sure what the step 4: _**Click "Run all specs"**_ means here. Once the SQL workbench is enabled in CI workflow, update it here, and we will plan to make changes for it.

Integration testing has been added for sql plugin. but since this repo structure is reorganized, how should we run the integration testing for sql plugin? I think we also need make changes

[2020-07-24 23:31] joshuali925 commented on #300
@weicongs-amazon Sorry my bad, step 3 should be `npx cypress run`, and you can ignore step 4.
I forgot to mention that Kibana needs to run with the `--no-base-path` flag for Cypress testing.

SQL directory contains extra folders for related projects, but the directory structure for SQL itself didn't change. So I don't think integration test for the SQL plugin would be different. Or do you mean how

[2020-07-24 23:39] weicongs-amazon commented on #300
This is the command used currently for sql es plugin: https://github.com/opendistro-for-elasticsearch/opendistro-build/blob/master/.github/workflows/test-build-deb.yml#L355-L356

not sure which one should be used with new structure

[2020-07-25 21:47] davidgarciaMontreal opened #329 "Sample Docker Compose file 1.9.0 does not work"
As per the following documentation:  https://opendistro.github.io/for-elasticsearch-docs/docs/install/docker/ running the docker-compose does not work. After it is launched with the 7.8.0 version the kibana server returns a 503 error code.

statusCode | 500
-- | --
error | "Internal Server Error"
message | "An internal server error occurred."

[code]

[2020-07-27 23:13] peterzhuamazon commented on #329
Hi @davidgarciaMontreal I have just tested the sample docker-compose file [here](https://opendistro.github.io/for-elasticsearch-docs/docs/install/docker/#sample-docker-compose-file) with 1.9.0.
And I have no issues with kibana. I have tested it on a ubuntu 18.04 on both m4.xlarge and m4.2xlarge instance.

Kibana is able to access on :::5601, I waited 2 minutes for both and am able to reach the das

[2020-07-28 14:54] peterzhuamazon commented on #296
Hi @gsmith-sas since @weicongs-amazon has already provided a solution, we will close this issue for now.
Please feel free to re-open it if you have more questions. We are glad to help with it. Thanks.

[2020-07-28 14:54] #296 closed

[2020-07-28 15:00] peterzhuamazon commented on #48
Since there is no more discussion on this topic anymore, we will close this issue for now.
Please feel free to re-open it if there is any new findings or PRs for approval. Thanks.

[2020-07-28 15:00] #48 closed

[2020-07-30 15:24] peterzhuamazon commented on #204
Close this issue as security is also included in https://github.com/opendistro-for-elasticsearch/opendistro-build/issues/202 now.

[2020-07-30 15:24] #204 closed

[2020-07-30 17:17] peterzhuamazon commented on #312
https://github.com/opendistro-for-elasticsearch/opendistro-build/pull/331

[2020-07-30 17:19] #312 closed

[2020-07-30 17:20] weicongs-amazon commented on #312
Thanks for the support @ohltyler and @yizheliu-amazon

[2020-07-30 17:31] ohltyler opened #333 "Hook up AD Kibana integration tests WITH Security"
Recent changes have been made to support running the AD Kibana integration tests with security enabled. The command is simply `yarn cy:run-with-security`. Can be added very similarly to the AD Kibana tests with security disabled.

**NOTE**: Since the infra workflows are pulling tagged versions and the recent changes are not part of any tags, it will obviously fail until we push a new tag.

[2020-07-30 18:52] #120 closed

[2020-07-30 22:46] peterzhuamazon commented on #333
Hi @ohltyler, is this working on both Linux and Windows?
Thanks.

[2020-07-31 00:31] ohltyler commented on #333
Should work fine on Windows, since only difference should be running `cy:run-with-security` rather than `cy:run` - let me know if you have any problems. We don't have a Windows workflow in our current repository so I haven't tested against it.

[2020-07-31 00:35] ohltyler commented on #333
One other thing I noticed, looks like there is a typo in the existing `yarn cy:run` commands. When overriding the baseUrl it should be something like `--config baseUrl=<base_url>` rather than `-config baseurl=<base_url>` (should be two `-`'s and `baseUrl` instead of `baseurl`). I think it is working since the default base URL is already http://localhost:5601, but just something to be aware of.

[2020-07-31 00:41] peterzhuamazon commented on #333
Thanks @ohltyler.
We are going to assign the task next week and start working on it.
I will fix --config issue in a PR later. Thanks.

[2020-07-31 17:26] peterzhuamazon commented on #300
Hi @joshuali925, please update this issue with commands once you have completed your testing for new folder structure in SQL. We can integrate it into our workflow later. Thanks.

[2020-07-31 18:28] joshuali925 commented on #300
Hi @peterzhuamazon @weicongs-amazon, just confirmed with the team, new command should be
[code]
Thanks.

[2020-07-31 21:36] weicongs-amazon commented on #300
which folder should be used? could you help to share CI workflow for both ES and Kibana in sql repo to run this integration testing?

[2020-08-01 15:09] davidgarciaMontreal commented on #329
@peterzhuamazon could it a problem with the host? I'm running the same version on a macOS High Sierra.
Do you know if it's not supported on macOS system?

[2020-08-03 16:10] peterzhuamazon commented on #329
Hello @davidgarciaMontreal Sorry that I missed you are using darwin.

On the top of the docker page, we have listed "If you run Docker locally, we recommend allowing Docker to use at least 4 GB of RAM in Preferences > Advanced."
![image](https://user-images.githubusercontent.com/65193828/89203148-100d6700-d582-11ea-9510-877f82775269.png)

If you are using docker desktop on macos, kindly change the

[2020-08-05 08:53] Rulemaster101 opened #337 "Upgrade ODFE"
We are upgrading from odfe 1.2.0 to latest version 1.9.0 I need to check what are all the features that are deprecated. I need to install version  1.2.0 in my test bed and check the upgrade process I am unable to install 1.2.0 now . How to do it and what all need to consider before upgrade.

[2020-08-05 15:52] peterzhuamazon commented on #337
Hi @Rulemaster101 thanks for contacting us, please kindly tell us which distro you are trying to install and upgrade, what env/os you are working with, and what are the steps you have gone through? Could you clarify more on "unable to install"?

As for the things to consider for upgrade, you can find information [here](https://opendistro.github.io/for-elasticsearch-docs/docs/upgrade/).

[2020-08-05 23:00] sidheart opened #339 "Hook up PA ITs with distribution"
Hi, please integrate our PerformanceAnalyzer integration test suite with the ODFE build.
Running our IT test suite from PA master requires a few additional build steps which I'll outline here.

If an ES cluster is running with ODFE 1.9+ with PA 1.9+, the following commands will prep the cluster (enable PA and RCA):

1. curl localhost:9200/_opendistro/_performanceanalyzer/cluster/config -H 'Content

[2020-08-06 00:20] peterzhuamazon commented on #339
Thanks @sidheart some questions:
1. What about lower versions than 1.9 such as 1.8 and 1.7? Will these steps still work the same?
2. After running the commands to prep PA/RCA, do we need to wait for some time in able for them to fully initilize?
3. Is this integTest testing both PA and RCA as a whole? If so, is there a way that we know which one success, or both success?
4. Is this integTest WITH

[2020-08-06 00:27] sidheart commented on #339
@peterzhuamazon

1. Lower versions than 1.9 will not work the same because RCA is not enabled and we have certain tests that hit the RCA endpoint. However, we could add some sysprop based logic to skip this class of tests for lower versions.
1. No, you may need to wait for a bit after the cluster comes up so that the PerformanceAnalyzer plugin spins up and it's clustersettings can be set via port

[2020-08-06 00:38] peterzhuamazon commented on #339
Hi @sidheart. Thanks for the reply. Regarding WITH Security:
1. "They'd need the appropriate certs”, is this something we as infra need to do, or on your team side?
2. Other plugins would change their gradlew command with these additional settings, do you need them as well?
     -Dhttps=true -Duser=admin -Dpassword=admin
3. Have you guys already test WITH Security on your local? If so could you al

[2020-08-06 06:25] sidheart commented on #339
1. This is just for the curl commands. It would be something like `curl -k --cert /path/to/cert --key /path/to/key "https://localhost:9200/...`
1. This is a good point. For the WITH Security tests, we'll have to make some changes on our side to handle the https issues.
1. We do not test with security on local.

[2020-08-06 15:13] peterzhuamazon commented on #339
Thanks @sidheart, I have changed the title of this issue as integTest for PA WITHOUT Security.
Please make sure to test PA WITH Security on your local, and then open another issue about that.

We will put this one into the backlog and start working on it.

Thanks.

[2020-08-06 19:50] gferrette opened #341 "Upgrade Opendistro to Previous versions - Dependency Issues"
Hello,

I'm trying to upgrade Openditro from version 1.0.2 to version 1.7.0 with CENTOS 7. I'm following the docs as below but i'm getting dependency issues.

yum install opendistroforelasticsearch-1.7.0

Error: Package: opendistro-knn-1.7.0.0-1.noarch (opendistroforelasticsearch-artifacts-repo)
           Requires: elasticsearch-oss = 7.6.1
           Removing: elasticsearch-oss-7.0.1-1.x86_64 (@

[2020-08-07 12:55] peterzhuamazon commented on #341
Hi @gferrette sorry for the inconvenience here.
Seems like there is an issue with our docs on upgrading process, sorry about that.

Here is an option I test it myself to upgrade from 1.0.2 to 1.7.0.
Note that I use a wildcard due to 1.7.0 have plugin version all match to 1.7.0.0, not necessarily true for all releases:
https://opendistro.github.io/for-elasticsearch-docs/docs/install/plugins/

``
su

[2020-08-07 17:20] gferrette commented on #341
Hello @peterzhuamazon !

I've tested this procedure that you have suggest on my test environment and it worked like a charm!

On saved objects now i see"Advanced Settings [7.0.1]" and "Advanced Settings [7.6.1]" after upgrade.

Do you know if i can delete "Advanced Settings [7.0.1]"?

![image](https://user-images.githubusercontent.com/44647577/89671176-e2ddf300-d8b8-11ea-91d5-986ac7ba7684.png)

Th

[2020-08-07 18:17] peterzhuamazon commented on #341
Hi @gferrette I am not sure about this.
Where did you see this happening?
Could you show me the entire page?

[2020-08-07 18:25] gferrette commented on #341
Hello @peterzhuamazon !

Sure, follow below the entire page, i saw that on Management->Saved Objects:

![image](https://user-images.githubusercontent.com/44647577/89676497-2557fd80-d8c2-11ea-848f-e02e526afe0b.png)

[2020-08-07 18:45] peterzhuamazon commented on #341
Hi @gferrette could you show me the contents of both advanced settings?
If the contents of these saved objects do not affect normal usages, then you can just keep it there.

[2020-08-07 19:46] gferrette commented on #341
Hello @peterzhuamazon !

Both advanced settings have the same content as example bellow, if I change something on one "Advanced settings" it is reflecting on the other one.

![image](https://user-images.githubusercontent.com/44647577/89682468-28a4b680-d8cd-11ea-9460-09d1d0d6d0ee.png)

[2020-08-07 20:21] peterzhuamazon commented on #341
Hi @gferrette you can just leave it as it be, seems like it wont impact normal usages.
If you really want to remove it:
* We suggest you test the deletion on your test machine and see if there is any issues
* Make sure you export the saved objects as a backup before doing so:
   https://www.elastic.co/guide/en/kibana/current/managing-saved-objects.html#:~:text=Kibana%20are%20overwritten.-,Exported

[2020-08-08 02:55] davidgarciaMontreal commented on #329
@peterzhuamazon i will try it this weekend and upload the logs if it fails.
Thanks David

[2020-08-08 16:35] davidgarciaMontreal commented on #329
@peterzhuamazon  I read the recommendation but i would not have thought the problem would that. I think i had allocated 2 or 3GB and I was gettting errors related to transport, one elastic search node could not reach the other. I have now increased it to 4GB and it is working as expected.
Now I wonder if the recommendation should be changed to a must?
Thanks for your help!

[2020-08-10 17:08] peterzhuamazon commented on #329
Thanks @davidgarciaMontreal for the suggestions and advices.
We are happy that you have resolved the issues.
This issue will be closed for now. Please feel free to re-open it if you have other questions related to this. Thanks.

[2020-08-10 17:08] #329 closed

[2020-08-10 20:36] peterzhuamazon commented on #307
Thanks @Hokwang I am closing this issue as PR #340 is now merged to master.

[2020-08-10 20:36] #307 closed

[2020-08-11 18:20] #240 closed

[2020-08-12 17:58] gferrette commented on #341
Hello @peterzhuamazon !

Thanks a lot for this help.

I'm going to make those tests.

Att,

Gabriel.

[2020-08-12 17:58] #341 closed

[2020-08-14 15:12] skkosuri-amzn opened #346 "Hook up Alerting integration tests WITH Security (admin user)"
https://github.com/opendistro-for-elasticsearch/alerting/pull/213
Above PR provides a way to run Alerting integ test against cluster.  Currently, we support using admin user.

`../gradlew integTest -Dtests.rest.cluster=localhost:9200 -Dtests.cluster=localhost:9200 -Dtests.clustername=es-integrationtest -Dhttps=true -Duser=admin -Dpassword=admin`

[2020-08-17 12:43] gferrette opened #348 ""failed to turn off translog retention" after upgrade"
Hello,

After upgrade Opendistro from version 1.0.2 to version 1.7.0, on nodes startup, its appearing on the logs the message below:

[2020-08-14T10:54:21,893][WARN ][o.e.i.s.IndexShard       ] [machine] [.tasks][0] failed to turn off translog retention
org.apache.lucene.store.AlreadyClosedException: engine is closed
        at org.elasticsearch.index.shard.IndexShard.getEngine(IndexShard.java:252

[2020-08-17 14:43] peterzhuamazon commented on #346
Thanks @skkosuri-amzn, we will take a note of this and start adding it to the build workflow.
Thanks very much.

[2020-08-17 18:36] peterzhuamazon commented on #348
Hi @gferrette, I have tried to reproduce the issue with a centos7 server running RPM upgrading from 1.0.2 to 1.7.0. However, I am not able to reproduce such issue with simple data on my ends.

From the looks of it, this seems like an issue related to upstream.

We would appreciate if you could share more information regarding your setup and logs.

Thanks.

[2020-08-17 19:06] gferrette commented on #348
Hello @peterzhuamazon !

Thanks for replying.

This issue seems to be the same of this thread https://github.com/opendistro-for-elasticsearch/security/issues/354, but in my case it's happening on several indexes and not only on audit.
My setup is a test environment with one single node, follow below elasticsearch.yml (without certificates info):

#action.destructive_requires_name: true

script.pai

[2020-08-17 21:11] peterzhuamazon commented on #348
Hi @gferrette after discussing with the team, we think this issue is more related to the security repo as there are already similar issues to this one. We will transfer this issue to the security repo. Thanks

[2020-08-18 16:26] peterzhuamazon opened #350 "Release ODFE 1.10.0 based on ES 7.9.0"
~~ODFE 1.10.0 based on ES 7.9.0~~

(Note: ODFE 1.10.0 is skipped right now as we prefer to release ODFE 1.10.1 for ES 7.9.1. This is to avoid memory leak in Lucene 8.6.0 and 8.6.1 (ES 7.9.1 has Lucene 8.6.2) https://github.com/elastic/elasticsearch/issues/61512)

**Go Here for ODFE 1.10.1 based on ES 7.9.1: https://github.com/opendistro-for-elasticsearch/opendistro-build/issues/376**

[2020-08-19 18:26] peterzhuamazon commented on #337
Hi @Rulemaster101 It have been 14 days since my last reply.
This issue will be closed for now.
Please feel free to re-open it if you have any more questions. Thanks.

[2020-08-19 18:26] #337 closed

[2020-08-19 19:17] gaiksaya commented on #346
Hi @skkosuri-amzn ,

We have added the IT to our distribution workflows. You can check the linked PR. Closing this issue as resolved.
Thanks!

[2020-08-19 19:17] #346 closed

[2020-08-19 19:22] peterzhuamazon commented on #333
This issue is closed for now as we have added these tests in the workflows.
Thanks!

[2020-08-19 19:22] #333 closed

[2020-08-20 20:10] sidheart opened #353 "Hook Up PA IT Tests WITH Security"
This is very similar to #339, the only step that changes is towards the very end (the parameters which are passed to run the integration test).

Hi, please integrate our PerformanceAnalyzer integration test suite with the ODFE build.
Running our IT test suite from PA master requires a few additional build steps which I'll outline here.

If an ES cluster is running with ODFE 1.9+ with PA 1.9+, the

[2020-08-20 21:49] peterzhuamazon commented on #112
Hi @johnthom,

After some researching, this issue is apparently fixed by Rashabh here:
#114

After testing odfe 1.4.0 manually on a EC2 Windows 2019 instance, it is confirmed that this issue has been fixed now.

Thanks for reporting the issue and we will close this issue for now.
Please feel free to re-open this issue if you have any other related questions.

Thanks.

[2020-08-20 21:49] #112 closed

[2020-08-20 21:56] peterzhuamazon commented on #353
This @sidheart, we will comment here if we have any issues later.
And just for an update, we are working to add PA without Security to release workflow now.
Expect this one to follow soon after. Thanks.

[2020-08-28 07:04] samarthya opened #361 "HELM v3: If storage class not defined in the values.yaml causes issue while installing the helm chart"
For helm version

[code]

You need to define storage class and create the k8s object to ensure the ```pvc``` are honoured otherwise they will be forever shown pending.

In the values.yaml by default ```storageClass``` is commented

[code]

For Helm3 you need to define a class and ensure the respective object is created.

## Example

[code]

[code]

**To Reproduce**
Steps to reproduce the behavior:

[2020-08-31 16:07] peterzhuamazon commented on #361
Thanks for pointing this out @samarthya.
Would you mind sending out a PR to fix this issue, we will be very much appreciated.
Thanks!

[2020-09-01 18:30] samarthya commented on #361
Sure, I will look into it.

[2020-09-02 20:53] sushovan23 opened #370 "upgrade using yum not working when going from 1.6.0-1 to 1.8.0-1. Getting error Error in PREIN scriptlet in rpm package"
**Describe the bug**
Getting while doing upgrade from 1.6 to 1.8 using yum.
Following error is seen :
    "stderr_lines": [
        "Error in PREIN scriptlet in rpm package opendistroforelasticsearch-1.8.0-1.noarch",
        "opendistroforelasticsearch-1.6.0-1.noarch was supposed to be removed but is not!"
    ],

**To Reproduce**
Steps to reproduce the behavior:
1. Install opendistro 1.6
2. try t

[2020-09-02 22:28] sushovan23 commented on #370
Also tried installing 1.8 in new server and got this error:
[code]
I have installed opendistro 1.8 in multiple servers via same automation but never saw this error while doing rpm install. ?

[2020-09-03 16:51] peterzhuamazon commented on #370
Hi @sushovan23,

1. I have tried to reproduce the issue but I did not see any error related to "Error in PREIN scriptlet".
    I am using a centos7 clean server.
    Installing 1.8 from scratch.

2. Upgrading from 1.6 to 1.8 requires some changes, please check the details in this docs:
    https://opendistro.github.io/for-elasticsearch-docs/docs/upgrade/1-8-0/

3. Also, please kindly check this is

[2020-09-03 16:56] sushovan23 commented on #370
Hi.
I have gone through the docs. Changes for 1.8 are required when going from 1.7 to 1.8
I'm going from 1.6 to 1.8 and hence the `anomaly-detector` remove isn't needed. I was able to upgrade using the yum update command.
But it is concerning that suddenly yum install would fail for upgrade and new installs in that short amount of time.

[2020-09-03 16:59] sushovan23 commented on #370
Regarding previous versions installs - I had downloaded all rpms which came with 1.8 when it was latest version and kept in our own repo so we can install it without internet reaching outside.
So i am installing all packages and as mentioned it used to work fine but suddenly saw the error yesterday in that time frame. Not sure why this would be failing. I will do more tests on fresh installs. Upgr

[2020-09-03 17:02] peterzhuamazon commented on #370
Hi @sushovan23 I just test again, and I also get a connection issues like this:
[code]

Seems like some internet hiccup, I retried and it works again.

Sorry about the inconvenience, is your issue completely resolved for now?

Thanks.

[2020-09-03 17:06] peterzhuamazon commented on #370
It is weird that this would happen in your own repo, was thinking of connectivity issues. Hopefully it is resolved.

[2020-09-03 18:06] sushovan23 commented on #370
Looks like it was more of connectivity issues. So I have all rpms in my own repo. but it still tries to download this which was failing yesterday -
 "Fetching kNN library",
  "--2020-09-02 20:28:21--  https://d3g5vo6xdbdb9a.cloudfront.net/downloads/k-NN-lib/libKNNIndexV1_7_3_6.zip"

this is indeed related to network then. any way I can provide this from within my network?

[2020-09-03 18:07] sushovan23 commented on #370
so my issue is solved for now but as we found out the connectivity issues to the download url is not best for automation. any suggestions on how to handle the zip/so library download

[2020-09-03 19:03] peterzhuamazon commented on #370
Hi @sushovan23 KNN is fixed in 1.9.0. https://github.com/opendistro-for-elasticsearch/opendistro-build/issues/274
We have acknowledge the issues with KNN Lib downloading with a preinstall script.
Please consider using 1.9.0 for this fix.

Thanks.

[2020-09-03 19:04] peterzhuamazon commented on #370
As if 1.9.0 knnlib in RPM will distribute in a standalone rpm instead of a zip.

[2020-09-03 19:06] sushovan23 commented on #370
Thanks I will create a task for me to handle this. I will be closing this issue since I already have all other rpms I will just take new 1.9 rpms and update my repo.

[2020-09-03 19:06] #370 closed

[2020-09-04 01:18] peterzhuamazon opened #375 "Release ODFE 1.10.1 based on ES 7.9.1"
ODFE 1.10.1 based on ES 7.9.1
(Note: ODFE 1.10.0 is skipped right now as we prefer to release ODFE 1.10.1 for ES 7.9.1. This is to avoid memory leak in Lucene 8.6.0 and 8.6.1 (ES 7.9.1 has Lucene 8.6.2) https://github.com/elastic/elasticsearch/issues/61512)

Release Engineering / Build Repo Key Changes:
* KNNLib will now use wildcard to resolve hardcoded version issues ([#359](https://github.com/o

[2020-09-04 17:59] peterzhuamazon opened #376 "Release ODFE 1.10.1 based on ES 7.9.1"
ODFE 1.10.1 based on ES 7.9.1

**(Note: ODFE 1.10.0 is skipped right now as we prefer to release ODFE 1.10.1 for ES 7.9.1. This is to avoid memory leak in Lucene 8.6.0 and 8.6.1 (ES 7.9.1 has Lucene 8.6.2) https://github.com/elastic/elasticsearch/issues/61512)**

Release Engineering / Build Repo Key Changes:
* KNNLib will now use wildcard to resolve hardcoded version issues ([#359](https://github.

[2020-09-06 12:41] irslon opened #378 "AWS access denied when running download_plugins.sh"
I would like to build docker images on my own for future contributions.
I can't download plugins using download_plugins.sh resulting with Access Denied.
Should I have some special permissions to the s3 bucket to download them?  I'm logged in on my personal credentials on AWS CLI.

[code]

[2020-09-07 14:29] dmpe opened #379 "Remove elasticsearch.ssl.transport.enabled:false/true as it has no effect now"
In the helm chart readme,
https://github.com/opendistro-for-elasticsearch/opendistro-build/tree/master/helm
is no longer relevant because transport tls is always enabled.

[2020-09-08 13:16] peterzhuamazon commented on #379
Hi @dmpe thanks for pointing this out.
The original change to disable this parameter is here: https://github.com/opendistro-for-elasticsearch/opendistro-build/pull/53

As of now, the HELM section is actively maintained by the community members.
Would you mind create a PR for this change in documentation? We would be very much appreciated.
Thanks.

[2020-09-08 13:19] peterzhuamazon commented on #378
Hi @irslon,
As of now, we have not decouple the scripts with our own credentials on AWS.
We are planning to do that in the future so everyone can create a distro by running these scripts.

Sorry about the inconvenience.
Thanks.

[2020-09-08 13:20] #350 closed

[2020-09-09 18:33] #246 closed

[2020-09-11 20:00] #379 closed

[2020-09-11 23:15] peterzhuamazon opened #386 "Automated security audit / CVE detection"
Integrate GitHub security app to the public repo's to block PR’s with vulnerabilities. This would automatically block the code merge that has vulnerabilities.

[2020-09-11 23:19] peterzhuamazon opened #387 "ES / Kibana - ARM64 support"
Make changes to ES / Kibana builds to support ARM 64 architecture in ODFE 1.13.0.

We will support ARM64 TAR distro for both ES and KIBANA in ODFE 1.13.0:
https://github.com/opendistro-for-elasticsearch/opendistro-build/issues/576

[2020-09-11 23:21] peterzhuamazon opened #388 "Publish performance benchmark in open source for ODFE"
We want to show the public our methodology of performance testings/benchmarks for ODFE

[2020-09-16 12:00] tanguilp commented on #376
Any idea when this version will be available on docker hub? I don't mean to pressure into releasing, I just need the fix implemented by https://github.com/opendistro-for-elasticsearch/opendistro-build/pull/384 and reviewing my options. Keep up the great work, cheers!

[2020-09-17 10:54] chetnuy commented on #148
Please explain in more detail.

[2020-09-18 13:19] devops-42 opened #393 "[ODFE] Python 2.7.x on Docker images"
Hi,

**Query**
I wonder why Python in version 2.7.5 is shipped with the Docker images for odfe-kibana/elasticsearch. Is it possible to remove Python, If it is not mandatory for running the ODFE stack? If used, is it possible to upgrade it to a supported version?

Thanks in advance for more information!

Cheers!

[2020-09-18 21:04] peterzhuamazon commented on #393
Hi @devops-42, we are using centos7.7.1908 as the base of the docker distro.
The package manager YUM is depended on python2, thus it is there by default.
Version 2.7.5-88.el7 is the latest python2 version available on centos 7 repo, thus is the version we shipped with our latest docker releases.

We currently have no plans to move to a centos8.x base, which uses dnf with C/C++ code base.

Please l

[2020-09-20 08:49] devops-42 commented on #393
Hi Peter,

thanks for your detailed answer. I close this issue.

Cheers!

[2020-09-20 08:49] #393 closed

[2020-09-21 11:32] webwurst commented on #361
When `storageClass` is left undefined the default should be used: https://kubernetes.io/docs/tasks/administer-cluster/change-default-storage-class/
This should depend on the cluster configuration and probably hast nothing to do with Helm v3? Except I am missing something here.

[2020-09-22 04:25] chandu484 opened #394 "Opendistro ES version 1.9.0 is not finding roles_key "roles" in okta openID jwt payload"
Hello All! We are testing SSO in ES and kibana with Opendistro ES. Found some issues. Please find below what I did.

1. I have installed Opendistro ES helm chart in Kubernetes! ES and kibana installed successfully!

2. Created config.yml and roles_mapping.yml secrets and loaded to ES master pod.

3. One issue here. The secrets loading only to master pod of ES. They are not loading into client and

[2020-09-22 09:10] mradman-tildeloop opened #395 "Security Plugin Release v1.9.0.2 in official Docker image"
Hello and thank you for the awesome work on ODFE,
the new security features seem to be missing from the [official Docker image](https://hub.docker.com/r/amazon/opendistro-for-elasticsearch/tags).
When can we expect it to be added?

[2020-09-22 18:54] camerski commented on #395
Hi @mradman-tildeloop,

We are currently working on the 1.10.x series which will have the latest versions of all supported plugins. We currently have no plans for any more releases in the 1.9 series.

Thanks,
Cameron.

[2020-09-22 18:54] #395 closed

[2020-09-23 08:42] hardik263 commented on #395
Thanks @camerski for such a prompt reply. Would you be able to give us an ETA for the first 1.10.x series ? Is it planned before the trace analytics release i.e Nov or would it be sooner ? Many thanks !

[2020-09-25 16:46] vrozov commented on #386
It will be good to have security audit (CVE detection) for every PR request not just for the release.

[2020-09-26 20:59] lukasmrtvy commented on #294
Major "hubs" for helm charts:
- https://kubeapps.com/
- https://hub.helm.sh/

Demo for releasing/hosting chart in github repository:
- https://github.com/helm/charts-repo-actions-demo

[2020-09-29 18:53] lukasmrtvy opened #408 "How to run securityadmin.sh ( with custom config ) automatically via helm chart ?"
**Query**
How to run `securityadmin.sh` automatically via helm chart, if  I have custom `elasticsearch.securityConfig.config.data` map populated ?

**Expected Behavior**
`securityadmin.sh` will load securityConfig automatically if `elasticsearch.securityConfig.config.data` map is populated ( `opendistro_security.allow_default_init_securityindex` is set to false ) with properly configured `config.y

[2020-09-29 19:03] #408 closed

[2020-10-01 01:46] peterzhuamazon commented on #376
### ODFE 1.10.1 Released as of 2020/09/30 😄
* Downloads [Here](https://opendistro.github.io/for-elasticsearch/downloads.html)
* [1.10.1 Release Notes](https://github.com/opendistro-for-elasticsearch/opendistro-build/blob/master/release-notes/opendistro-for-elasticsearch-release-notes-1.10.1.md)
* [1.10.1 Blog Post](https://opendistro.github.io/for-elasticsearch/blog/odfe-updates/2020/09/Open-Distr

[2020-10-01 01:46] #376 closed

[2020-10-01 10:29] to-bar commented on #376
I need to upgrade Elasticsearch v7.8.0 to at least v7.8.1 due to [this regression bug](https://github.com/elastic/kibana/issues/69545). But the latest ODFE version (1.9.0) requires exactly ES 7.8.0:

[code]

So I'm looking forward to any release, even 1.9.1 😉 Thanks in advance! 👍

[2020-10-02 17:56] sushovan23 opened #416 "After upgrading to 1.10.1 from 1.8 kibana login is not working"
**Describe the bug**
performed upgrade to 1.10.1 from 1.8.
All elasticsearch nodes are up and cluster is green.
Before upgrade cluster was configured with openid/sso. we were able to login correctly.
After upgrade when I try to login to kibana its giving following error:

{"statusCode":400,"error":"Bad Request","message":"[request query.session_state]: definition for this key is missing"}

**To Re

[2020-10-04 21:20] lukasmrtvy commented on #416
I have same problem, I am using openid_auth_domain and Azure AD

[2020-10-05 15:55] lukasmrtvy commented on #416
Related: https://stackoverflow.com/questions/53650185/azure-active-directory-v2-0-doesnt-seem-to-support-oauth-session-management.
Problem ( at least for me and Azure AD ) is that v2 endpoint `https://login.microsoftonline.com/<tenantid>/v2.0/.well-known/openid-configuration` does not support session_state.

[2020-10-05 16:00] sushovan23 commented on #416
We are using v2.0 in opendistro 1.6 and 1.8. Those are working perfectly. So something must have changed in 1.10 which has caused it to break.

[2020-10-05 19:23] gaiksaya commented on #416
Hi @sushovan23 ,

Sorry for the issues faced by upgrading the ODFE to v1.10.1. We have added the instructions to unblock this. Please check https://opendistro.github.io/for-elasticsearch-docs/docs/upgrade/1-10-1/
Please let us know if you continue to face the issue.
Thanks!

[2020-10-05 20:02] chandu484 commented on #416
Hello @gaiksaya Thanks for your reply!  I'm following this thread as I'm also facing same issue with Okta OIDC connector. Even with that setting its not working! Seeing same error **{“statusCode”:403,“error”:“Forbidden”,“message”:“Request failed authentication.”}**

[2020-10-05 20:03] lukasmrtvy commented on #416
@gaiksaya setting `opendistro_security.cookie.secure: false` to `kibana.yml` does not work for me.  Still getting:
[code]

[2020-10-05 20:06] gaiksaya commented on #416
Hi @lukasmrtvy ,

Did you restart Kibana after adding that setting?

[2020-10-05 20:12] lukasmrtvy commented on #416
@gaiksaya yes, of course. I am using helm chart v1.10.1.

[2020-10-05 20:14] peterzhuamazon commented on #416
@vrozov @zengyan-amazon Seems like we have multiple community members with security plugin related issues.
Could you guys help with this?
Thanks.

[2020-10-05 20:43] sushovan23 commented on #416
Hi @gaiksaya:
I have added setting and restated kibana. still same error

[2020-10-05 21:39] zengyan-amazon commented on #416
@sushovan23 can you share your kibana.yml configuration so that we can try to reproduce the issue on our side?

[2020-10-05 21:57] sushovan23 commented on #416
here is the kibana.yml:
[code]

these are rpms installed on server:
[code]
elasticsearch version
`elasticsearch-oss-7.9.1-1.x86_64`

Let me know if anything else is needed

[2020-10-05 22:07] zengyan-amazon commented on #416
I am suspecting this is due to our new Kibana security plugin OpenIDConnect implementation issue, which doesn't allow `session_state` as query parameter.

can you try updating the `<kibana_installation_dir>/plugins/opendistro_security/server/auth/types/openid/routes.js`, update line 43 - 48
[code]
to
[code]
and restart Kibana to see if it works?

[2020-10-05 22:18] sushovan23 commented on #416
That did it. However first time I logged in after reboot I saw following error:
[code]

Also noticed that Global tenant was not available for non admin users? Is that a bug & should be reported separately?

[2020-10-05 22:20] sushovan23 commented on #416
![image](https://user-images.githubusercontent.com/14843483/95138093-6b510680-0737-11eb-9d10-da0c9e99dd95.png)

[2020-10-05 22:21] sushovan23 commented on #416
As you can see Global tenant is grayed out.

[2020-10-05 22:24] zengyan-amazon commented on #416
The error message seems not related to the OpenIDConnect issue, we will also try to reproduce it on our side.

And I would suggest to open a separate issue for the global tenant issue. please create the issue in Kibana security plugin repo https://github.com/opendistro-for-elasticsearch/security-kibana-plugin/issues

[2020-10-05 22:28] sushovan23 commented on #416
yes I only noticed it first time i logged in. Havent seen it since.

I have opened separate issue for global tenant grayed out:
https://github.com/opendistro-for-elasticsearch/security-kibana-plugin/issues/509

[2020-10-05 22:43] zengyan-amazon commented on #416
@chandu484 can you try clear your browser cookies, or try logging in using Incognito mode? if it still not working, please share your `kibana.yml` to help us diagnose. Thanks!

[2020-10-06 00:00] sushovan23 commented on #416
Will we get patch released or minor release with this fix as we want to use 1.10.x?

[2020-10-06 00:05] zengyan-amazon commented on #416
@sushovan23 We are working on creating a 1.10.1.2 release of security kibana plugin, so that you can download and replace the plugin. Hope this works for you.

[2020-10-06 00:25] sushovan23 commented on #416
Great we are presently installing opendistroforelasticsearch-kibana rpm and I mention the version number 1.10.1 so I’m hoping all I need to do is to update version 1.10.1.2 for that rpm and elastic search related remains same at 1.10.1 or will that change. I’ll wait for release n install/upgrade documentation to figure it out. Thank you

[2020-10-06 05:52] chandu484 commented on #416
Hi @zengyan-amazon I have followed the steps you mentioned to modify routes.js in kibana node and after that I'm not seeing any issue with iss in kibana. Looks good. Thanks for that. I'm using amazon/opendistro kibana image 1.10.1. How can we update the patch for kibana plugin (1.10.1.2) you are taking about in the container as its using base image?

[2020-10-06 09:47] lukasmrtvy commented on #416
Is there any private version of v1.10.1.2 kibana image to test ? Thanks

[2020-10-06 10:04] arnitolog commented on #416
for some reason code substitution didn't help me. I run everything on docker, so I deleted the original plugin first, and then install the new one, which has the above changes. And I got an error in the browser: "ERR_TOO_MANY_REDIRECTS"

[2020-10-06 12:46] mariodigitalis opened #421 "apt dependency issue opendistroforelasticsearch=1.9.0-1"
**Describe the bug**
Installing the apt repo with the version `1.9.0-1` generates a dependency error

**To Reproduce**
Steps to reproduce the behavior:
1. Install repo `deb https://d3g5vo6xdbdb9a.cloudfront.net/apt stable main`
2. Install OSS `package elasticsearch-oss-7.8.0-amd64.deb`
3. install package `opendistroforelasticsearch=1.9.0-1`
4. see the error:
[code]

**Expected behavior**
The packa

[2020-10-06 15:23] peterzhuamazon commented on #421
Hello @mariodigitalis I just reproduce this issue on a newly provisioned VM.
Please give us some time to figure out the cause.
Thanks.

[2020-10-06 18:01] zengyan-amazon commented on #416
@arnitolog can you clear your browser cookies or try in incognito mode?

[2020-10-06 18:14] arnitolog commented on #416
tried in incognito and even in a different browser. But got the same result - the error above.

[2020-10-06 18:28] zengyan-amazon commented on #416
@arnitolog can you share your configurations in kibana.yml and your ES security OIDC config? it will help us to understand your setup

[2020-10-06 18:40] arnitolog commented on #416
sure. Here is kibana.yml:

`

    server.name: kibana
    server.host: "0"
    ## Replace with Elasticsearch DNS name picked during Service deployment
    elasticsearch.hosts: https://es.local:9200

    ## Kibana TLS Config
    # server.ssl.enabled: true
    # server.ssl.key: /usr/share/kibana/certs/kibana-key.pem
    # server.ssl.certificate: /usr/share/kibana/certs/kibana-crt.pem
    elasticsear

[2020-10-06 18:56] peterzhuamazon commented on #421
Hello @mariodigitalis,

We have mentioned the solutions on our docs for deb installation step 6:
https://opendistro.github.io/for-elasticsearch-docs/docs/install/deb/

Please use these commands for 1.9.0:
[code]

This is currently a known issue due to the apt package manager.
Please let me know if this resolved your issues.

Thanks.

[2020-10-06 18:58] plnordquist commented on #416
I had the `{"statusCode":400,"error":"Bad Request","message":"[request query.session_state]: definition for this key is missing"}` error when I connected my Kibana to Keycloak and was able to work around it by configuring the client registration in Keycloak to turn on the Exclude Session State From Authentication Response option.  Is there a point where I will need to reverse this configuration?

[2020-10-07 05:03] sarthi2395 opened #422 "Warning on ES service status - An illegal reflective access operation has occurred"
**Describe the bug**
I installed a RPM based OpenDistro on my Centos7 server and added it as a system service as specified in the installation documents. When I check the status of the service, I get a couple of warnings that asks me to report it to the developers.

**To Reproduce**
Steps to reproduce the behavior:
1. Run
[code]
2. See error

[code]

**Configuration:**
 - ODFE/Kibana version - 1.8

[2020-10-07 10:33] mariodigitalis commented on #421
Hey Peter
This has solved the issue.
Thank you very much

[2020-10-07 10:33] #421 closed

[2020-10-07 13:00] placaze opened #423 "[Kubernetes / Docker Swarm] Liveness Probe / Readiness Probe / Healthcheck"
**Query**
What's the best why to add a liveness probe & readiness probe for an Elasticsearch deployment of OpenDistro ES? Or what's the best why to configure a healthcheck for a Docker Swarm deployment of OpenDistro ES?

Is there an healthcheck API that can be checked without authentification? Or is there a script/binary in the Docker image?

I read there is a `readiness-probe-script.sh` upstream

[2020-10-07 15:14] peterzhuamazon commented on #423
Hi @placaze,
As of now, helm chart is actively maintained by community members.
Would you consider creating a PR to add / improve this feature?
It would be very helpful to everyone that uses helm.

Thanks.

[2020-10-07 15:18] peterzhuamazon commented on #361
Hi @samarthya,
It has been a month since we last talk.
Would you still considering making a PR for this change?

If so, please feel free to re-open the issue for the matter.
We will close this issue for now.

Thanks.

[2020-10-07 15:18] #361 closed

[2020-10-07 15:35] peterzhuamazon commented on #300
SQL Workbench/Kibana WITHOUT Security integTests are added to release workflow.
@joshuali925 please provide information on other SQL related integTest, such as SQL Workbench WITH Security integTest.
Thanks.

[2020-10-07 15:36] peterzhuamazon commented on #378
Hi @irslon,
It has been nearly a month since we last talk.
This issue will be closed for now, but please feel free to re-open if you have more questions to this topic.

[2020-10-07 15:36] #378 closed

[2020-10-08 19:43] iamanush opened #429 "(SITUP)Create a new component and build artifact for that component"
**Is your feature request related to a problem? Please describe.**
No

**Describe the solution you'd like**
Trace Analytics is going to introduce a new component called SITUP (Simple Ingest/Transformation Utility Pipeline) that will sit between the trace data and ODFE domain. This component can be installed as an individual component by itself on a node or as a binary/container on existing ODFE no

[2020-10-12 21:01] everythings-gonna-be-alright opened #433 "Helm: Add option for deploy cluster with master\data\ingest roles in one statefulset"
If i want create elasticsearch for small kubernetes cluster i don't need separate all components to dedicated pods. It take too much resources.
I propose to add option for deploy elasticsearch as only one statefulset

[2020-10-14 01:24] peterzhuamazon opened #434 "ODFE 1.11.0 based on ES 7.9.1"
ODFE 1.11.1 based on ES 7.9.1

**Note: Yes, we are still on 7.9.1**

Release Engineering / Build Repo Key Changes:

* Add startupProbe in Helm charts, thanks @madeleine666 ([#415](https://github.com/opendistro-for-elasticsearch/opendistro-build/pull/415))
* Add Kibana pods annotations in Helm charts, thanks @rexbut ([#404](https://github.com/opendistro-for-elasticsearch/opendistro-build/pull/404))

[2020-10-15 19:22] camerski commented on #433
Hi @everythings-gonna-be-alright,

Thanks for the suggestion!

The Helm chart is actively maintained by community members. Would you consider creating a PR with this request? It would be very helpful.

Thanks.

[2020-10-15 19:22] #433 closed

[2020-10-15 19:23] #423 closed

[2020-10-15 20:05] peterzhuamazon commented on #423
Hi @placaze it has been 7 days since your last comment.
Please feel free to re-open the issue if you have more related questions.
Thanks.

[2020-10-15 21:10] camerski commented on #280
Hi @junawaneshivani and @gerrith3.

As @alolita mentioned, we are not currently resourced to support additional architectures and will not be able to help with this right now.

If your team is willing to support PowerPC and Z then you could consider making a contribution to the [community repository](https://github.com/opendistro-for-elasticsearch/community) with the required software patches and

[2020-10-15 21:10] #280 closed

[2020-10-19 19:24] peterzhuamazon commented on #429
[code]

[2020-10-23 21:59] VijayanB opened #446 "Setting up release process for odfe-cli"
Hi Team,
We will be creating artifacts for our project odfe-cli (https://github.com/opendistro-for-elasticsearch/es-cli), we would like to set up release process so that whenever new release happens those artifacts can be uploaded to s3 and later that can be downloaded from our download page.
We will be uploading binary for individual platforms (mac, linux, windows) for every release.

[2020-10-30 01:24] dzhukov40 opened #458 "Cannot use log4j KafkaAppender"
**Describe the bug**
I try send audit logs to kafka by log4j KafkaAppender, but get error on startup.
https://opendistro.github.io/for-elasticsearch-docs/docs/security/audit-logs/storage-types/

**To Reproduce**
_create file log4j2.properties:_
[code]
_RUN:_
`docker run  -v "/tmp/log4j2.properties:/usr/share/elasticsearch/config/log4j2.properties" amazon/opendistro-for-elasticsearch:1.11.0`

(*)I

[2020-10-31 18:14] ryn9 opened #461 "Feature Request - Prometheus Integration"
**Is your feature request related to a problem? Please describe.**
N/A

**Describe the solution you'd like**

Please reference [https://discuss.opendistrocommunity.dev/t/feature-request-prometheus-integration/4073](url)

A somewhat popular use-case for Elasticsearch, and other time-series data stores, is long term metric storage of metrics gathered by Prometheus.

See “Prometheus Integrations” for

[2020-11-02 16:52] peterzhuamazon commented on #458
Seems like this is a bug related to opendistro_security plugin. Transfer the issue there. Thanks.

[2020-11-02 17:04] peterzhuamazon commented on #434
ODFE 1.11.1 is released now, go ahead to download and try it out:
* [1.11.0 blog post](https://opendistro.github.io/for-elasticsearch/blog/odfe-updates/2020/10/odfe-1.11.0-released/)
* [1.11.0 Release notes](https://github.com/opendistro-for-elasticsearch/opendistro-build/blob/master/release-notes/opendistro-for-elasticsearch-release-notes-1.11.0.md)
* [1.11.0 downloads](https://opendistro.github.

[2020-11-02 17:04] #434 closed

[2020-11-03 19:06] vrphanse commented on #461
Thanks @ryn9 We are looking into this requirement and will get back to you once we have updates.

[2020-11-03 19:08] ryn9 commented on #461
Many thanks. I look forward to hearing from you.

[2020-11-04 10:12] marcofranssen opened #463 "Kibana 1.11.0 gives Error in worker TypeError [ERR_INVALID_ARG_TYPE]: The "id" argument must be of type string. Received type object"
**Describe the bug**
Running `amazon/opendistro-for-elasticsearch:1.11.0` and `amazon/opendistro-for-elasticsearch-kibana:1.11.0` gives the following output when booting the containers.

**To Reproduce**
Steps to reproduce the behavior:
1. `docker-compose up -d`
2. `docker-compose logs -f kibana`

**Expected behavior**
No errors occur.

**Configuration (please complete the following information):*

[2020-11-04 11:17] bjo004 commented on #56
Hi @whiskerch thanks for your post. Having the exact same problem. Can you elaborate more on your solution please? What specific update did you apply to helm chart to fix it?

[2020-11-04 13:24] whiskerch commented on #56
Hi @bjo004.

I don't have the details of what we did any more - we are now using the standard helm chart without any issues.
Apologies

[2020-11-04 13:57] marcofranssen opened #464 "ODFE 1.11.0: Expect plugin "id" in camelCase, but found: opendistro-notebooks-kibana"
**Describe the bug**
When booting the solution in docker-compose setup following log is shown.

`Expect plugin "id" in camelCase, but found: opendistro-notebooks-kibana`.

**To Reproduce**
Steps to reproduce the behavior:
1. `docker-compose up -d`
2. `docker-compose logs -f kibana`

**Expected behavior**
No warning by using the correct plugin naming convention.

**Configuration (please complete th

[2020-11-04 15:34] bjo004 commented on #56
Hi @whiskerch thanks for your prompt response. Are you able to assist in setting up the standard helm chart. Having some issues changing the default credentials.

[2020-11-04 20:08] ryn9 opened #465 "Feature Request - Kibana KQL Autocompletion"
**Is your feature request related to a problem? Please describe.**
Not a problem - but missing functionally as compared to other Elastic stack implementations

**Describe the solution you'd like**
Cross referenced here: https://discuss.opendistrocommunity.dev/t/feature-request-kibana-kql-autocompletion/4117

Kibana KQL Autocompletion is not included as part of OSS Kibana and therefore does not app

[2020-11-04 20:12] peterzhuamazon commented on #463
Hi @marcofranssen I have forwarded this to the kibana engineer, will reply once I get a response from theme.
Thanks.

[2020-11-04 20:41] peterzhuamazon commented on #463
Hi @marcofranssen seems this is a upstream issue and will get removed for ES 7.10.x.
(https://github.com/elastic/kibana/issues/81289)
Will close this issue for now.
Thanks.

[2020-11-04 20:41] #463 closed

[2020-11-05 08:09] whiskerch commented on #56
@bjo004 - I can try, I won't claim to be an expert on open-distro deployments, or even able to give good advice, hopefully others in this community can correct any bad advice I give.

When you say changing the default credentials, is that for internal users or Open ID credentials?

[2020-11-05 10:15] bjo004 commented on #56
Hi @whiskerch, thanks for your reply. I'll start with internal users. It's still not picking up my changes in `internal_users.yml` file. If you use vscode, perhaps we can schedule a vscode share? Only if you're free.

[2020-11-07 03:47] bjo004 commented on #56
Hi @whiskerch , managed to get it working. Downloaded `opendistro 1.11.0` and upgraded from the previous version `1.10.1`. Applied the secret per `securityconfig` like before (i.e. each secret for `action_groups.yml, config.yml, internal_users.yml, roles_mapping.yml, roles.yml and tenant.yml`. After applying the secrets, the `opendistro-es-client` also picked it up. I can now read my custom config

[2020-11-08 13:37] whiskerch commented on #56
@bjo004  - Great, glad you got it sorted :)

[2020-11-10 18:29] ryn9 commented on #461
@vrphanse is there any more details you would like to help provide clarity for this request?

[2020-11-10 19:02] JustDoItSascha opened #470 "Helm: When using a custom kibana.config it can't connect to elasticsearch anymore"
When I don't use the kibana.config option, the server retrieves the following kibana.yml:

[code]

But when I use a custom config, only my config parameter is used, the default ist overwritten, so nothing works. But even when I try to copy the automatic generated config in the config params, kibana says that https://localhost:9200 is not reacheable. Also I'm wondering how it can work when the host

[2020-11-10 22:32] bbarani opened #471 "Add perf analyzer integration tests without security"
Add perf analyzer integration tests without security

https://github.com/opendistro-for-elasticsearch/opendistro-build/issues/339

[2020-11-12 06:12] vrphanse commented on #465
Thanks @ryn9 We are looking into this request.

[2020-11-17 10:13] Mudboyzh commented on #463
I got the same error and the container of Kibana will close in few minutes after the error messages show up.
But I found that Kibana closed probably because of the memory limit(1G).
So I tried to increase memory limit to 1500M at v1.10.1, 1800M at v1.10.1.
It's still has the same error messages, but at least Kibana won't crash when booting.

[2020-11-17 16:44] peterzhuamazon commented on #463
@Mudboyzh that error message is unrelated to kibana failing.
We recommend having at least 4G memory for your docker.
https://opendistro.github.io/for-elasticsearch-docs/docs/install/docker/

![Screen Shot 2020-11-02 at 1 50 46 PM](https://user-images.githubusercontent.com/65193828/99419530-36090e00-28ca-11eb-8855-ea55f85825c6.png)

[2020-11-17 22:01] sreekarjami commented on #470
Hi @JustDoItSascha ,
Thanks for raising the issue. The host parameter should be similar to https://odfe-node1:9200, based on which node the Kibana is running.  Will look into it more and inform.

[2020-11-18 17:08] peterzhuamazon opened #475 "ODFE 1.12.0 based on ES 7.10.0"
ODFE 1.12.0 based on ES 7.10.0

Release Engineering / Build Repo Key Changes:

* Add CodeQL for scanning vulnerabilities for Pull Request in opendistro-build repository ([#466](https://github.com/opendistro-for-elasticsearch/opendistro-build/pull/466))
*  [Helm] All roles in one statefulset, allows to choose between dedicated/non-dedicated pods for lightweight deployments, thanks @everythings-gonn

[2020-11-18 18:13] weicongs-amazon opened #476 "Update the AD Integration Test command for release workflows"
The integration test command for AD plugin need be changed for 1.12.0 release.

The previous one:
`./gradlew :integTestRunner --tests "com.amazon.opendistroforelasticsearch.ad.rest.*IT" --tests "com.amazon.opendistroforelasticsearch.ad.e2e.*IT" -Dtests.rest.cluster=localhost:9200 -Dtests.cluster=localhost:9200 -Dtests.clustername="es-integrationtest"
`

It should be changed to:
`
./gradlew integTe

[2020-11-19 01:33] gaiksaya commented on #476
Hi @weicongs-amazon

Is the above command same for AD with security with ```-Dhttps=true -Duser=admin -Dpassword=admin``` in addition to that?

[2020-11-19 01:37] weicongs-amazon commented on #476
yes. but we can't test it now since security plugin artifact isn't available yet.

[2020-11-19 01:39] gaiksaya commented on #476
Cool. Let me know if you need to make changes on infra side. I'll add you as reviewer once the PR is raised.
Thanks!

[2020-11-19 20:28] ohltyler opened #480 "Update the AD Kibana plugin workflows"
**Change 1** (**NOTE:** this issue applies to all Kibana plugins using cypress for their integration tests)

Since GitHub actions has deprecated the use of `set-env`, the old version of the Cypress action (`cypress-io/github-action@v1`) breaks the workflows.

All calls to this old action need to be updated to any version >= 2.3.1. For example, the issue will be fixed if using the current latest ve

[2020-11-19 22:03] #476 closed

[2020-11-19 22:48] gaiksaya commented on #480
Addressed **Change 1** in this PR https://github.com/opendistro-for-elasticsearch/opendistro-build/pull/482

**Change 2 is being taken care of by @peterzhuamazon **

[2020-11-20 21:52] peterzhuamazon commented on #480
As we discussed **change 2** is finalized with Kibana Plugin Owners.
[code]

Thanks.

[2020-11-23 16:08] sreekarjami commented on #470
Hi,
I have tried recreating the issue, but I am able to access the Kibana using the node name. Can you please try similarly on your end and inform if the issue still exists.

[2020-11-23 16:11] JustDoItSascha commented on #470
Hi, have you tried to use a custom kibana.config without setting the hosts environment? Because this was causing the issue on my side...

[2020-11-24 02:48] ohltyler commented on #480
@peterzhuamazon we will still need to change the references in our specific workflow as specified above, otherwise the tests will still fail. You can refer to the changes in the `e2e-tests-workflow.yml` in [this PR](https://github.com/opendistro-for-elasticsearch/anomaly-detection-kibana-plugin/pull/329) for the changes in our plugin repo.

[2020-11-24 02:52] #480 closed

[2020-11-25 13:35] nperon commented on #378
Hello @peterzhuamazon

I have just created an issue in the opendistro forum on the same topic:
https://discuss.opendistrocommunity.dev/t/open-distro-build-with-plugins/4271
I am interested in a solution on how to build the docker images including plugins.
The two builds download_kibana_plugins.sh and download_plugins.sh do not work at the moment.
I would like a workaround so that the plugins are i

[2020-11-25 20:25] peterzhuamazon commented on #378
Hi @nperon like we talked last time we are building a new solution for both us and users to build distros on their local.
However, this is a rather long term project as many of the structures/scripts/workflows require rewrite.
We are not having a defined date on the release of this. Please stay tune.

In the meantime, you are welcomed to directly create a new dockerfile based on our image and do m

[2020-11-30 09:27] davidkalosi commented on #475
Is there any ETA on this?

[2020-11-30 18:26] ryn9 commented on #465
@vrphanse is there any more details you would like to help provide clarity for this request?

[2020-11-30 18:27] ryn9 commented on #461
sorry to ask again - @vrphanse is there any more details you would like to help provide clarity for this request?

[2020-12-03 18:35] ryn9 opened #492 "Feature Request - live streaming logs"
**Is your feature request related to a problem? Please describe.**
Not a problem - but missing functionally as compared to other Elastic implementations

**Describe the solution you'd like**
Cross referenced here: [https://discuss.opendistrocommunity.dev/t/feature-request-live-streaming-logs/4336](url)

Opendisto team -

As many, many folks use ES and Kibana for log aggregation - it would be benef

[2020-12-04 16:38] sreekarjami commented on #470
Hi @JustDoItSascha ,
I tried with the custom kibana.config and faced similar issue. If you were able to find a fix, please open a PR and we will review. Otherwise we will inform once a fix is available.

Thanks again for your contribution to the community.

[2020-12-07 10:31] kvnvkumar commented on #475
I am looking ODFE security plugin for elasticsearch 7.9.2 version, may I know about the Upcoming release will cover this version also or only elasticsearch 7.10.0 and any ETA on this?

[2020-12-07 22:19] peterzhuamazon commented on #475
Hi @kvnvkumar we currently have no plan for ES 7.9.2.
The next release of ODFE 1.12.0 will be based on ES 7.10.0.
Thanks.

[2020-12-09 17:02] sreekarjami commented on #470
Hi @JustDoItSascha ,
As informed in my earlier response. Please open a PR if you are able to fix the issue or we will inform once we provide a Fix. I am closing this issue, as the Fix might not be available in the next immediate release.

Thanks for your contribution.

[2020-12-09 17:02] #470 closed

[2020-12-11 12:20] DariusMR opened #511 "MAP_TILEMAP_URL or MAP_TILEMAP_OPTIONS_MAXZOOM are not taken into account"
**Describe the bug**

here is my docker compose

[code]

Those two last value are not taken into account. but when I manually set in kibana.yml it's working

I don't know if this file bellow is used, but it's old notation for map plugin :
https://github.com/opendistro-for-elasticsearch/opendistro-build/blob/master/kibana/docker/build/kibana/bin/kibana-docker
**To Reproduce**
set env file in the ya

[2020-12-11 14:17] fxalgrain opened #512 "Docker doesn't start when overriding command"
**Describe the bug**
I m using the image amazon/opendistro-for-elasticsearch in my Gitlab CI to run integration test.
So I need to enable "discovery.type=single-node"
This can be done only by settings `command: [ "elasticsearch", "-Ediscovery.type=single-node" ]`
If you set 'discovery.type=single-node' as environnement variable, bash will failed

The problem is now, elastiscsearch won't start. We

[2020-12-15 17:34] #475 closed

[2020-12-15 21:33] joshuali925 commented on #300
Hi @peterzhuamazon , adding instructions for more plugins:

### Gantt Chart
1. Bootstrap plugin, start ES and Kibana (same as query-workbench's IT)
2. Run the commands to import test data and create index pattern
[code]
3. Run cypress
[code]

### Kibana Notebooks
Same as above, skip step 2

### Kibana Reports
@davidcui-amzn Please comment here for instructions to run cypress on reporting plugin

-

[2020-12-15 22:33] davidcui-amzn commented on #300
### Reporting
1. Bootstrap plugin, start ES and Kibana
2. Navigate to Kibana endpoint and add sample data (temporary as we need dashboards to run tests)
3. Run cypress

[code]

### Notes
* Using the sample data to run tests is a temporary workaround (we are looking into how to add dashboards/visualizations/saved searches manually as these are needed to run tests)
* Reiterate @joshuali925 's point

[2020-12-15 23:55] peterzhuamazon commented on #300
Thanks @joshuali925 @davidcui-amzn

[2020-12-17 17:13] peterzhuamazon commented on #429
This is complete.

[2020-12-17 17:13] #429 closed

[2020-12-17 17:14] peterzhuamazon commented on #386
This is complete with @sreekarjami adding WhiteSource and CodeQL to our repo.

[2020-12-17 17:14] #386 closed

[2020-12-17 17:15] peterzhuamazon commented on #471
This is duplicated with #353 #339.

[2020-12-17 17:15] #471 closed

[2020-12-18 01:20] yuxitang-amzn opened #522 "Integration test for kibana security plugin"
Request adding integration test for kibana security plugin.

Steps:
1. Checkout kibana
2. Pull plugin repo into `plugins/opendistro_security` folder
3. Bootstrap kibana
4. Download and run elasticsearch
5. Run `yarn test:jest_server` in plugin folder

Reference: https://github.com/opendistro-for-elasticsearch/security-kibana-plugin/pull/617/files#diff-65ae1168eecd2c82b28b52c8a2c70866716e326bfa7811

[2020-12-19 20:48] lukasmrtvy commented on #294
I created https://github.com/lukasmrtvy/opendistro/blob/main/.github/workflows/chkrls.yml workflow, charts are published automatically once a day ( https://github.com/lukasmrtvy/opendistro/blob/gh-pages/index.yaml ) , so if one will use `helm repo add od https://lukasmrtvy.github.io/opendistro` and `helm install od/opendistro-es --version 1.12.0 --generate-name`, it should work.

[2020-12-21 20:01] peterzhuamazon commented on #511
Hi @DariusMR is this a new bug that only shows in 1.11, or in any of the previous versions?
Thanks.

[2020-12-21 20:07] peterzhuamazon commented on #512
Hi @fxalgrain this line works for me, can you try:
[code]

[2020-12-21 21:50] JasonLaquaTR opened #523 "Provide alternative to datatype flattened"
**Is your feature request related to a problem? Please describe.**
Missing efficient datatype like [flattened](https://www.elastic.co/guide/en/elasticsearch/reference/7.10/flattened.html)

**Describe the solution you'd like**
Implement something similar to [flattened](https://www.elastic.co/guide/en/elasticsearch/reference/7.10/flattened.html) that elastic search has

**Describe alternatives you'v

[2020-12-22 08:06] DariusMR commented on #511
1.9 also didn't try the other versions

[2020-12-22 08:42] fxalgrain commented on #512
Hi @peterzhuamazon

First of all, thanks you to have checked on your side.

I agree with you. If we set environnement variables like this, it works as expected. But in the GitlabCI (I don't check yet on others), you could not start the container using this command line.
You can do two things in the config file:
-  you can define global environnement variables
-  you can define the docker command.

[2020-12-22 18:38] peterzhuamazon commented on #512
Hi @fxalgrain I am not experienced with GitLabCI so I am not sure what do you mean by `could not start the container using this command line`.

`-e "discovery.type=single-node"` is part of the docker command parameter, and if you can define the docker command like your said, you should be able to use it.

Anyway this is something quite rare to us, could you just use a docker-compose file to define

[2020-12-24 21:05] gaiksaya commented on #522
Hi @yuxitang-amzn ,
Thank you for the details. Couple of questions:
1. All of the IT use java 14. Whereas I see java 11 in the [reference link](https://github.com/opendistro-for-elasticsearch/security-kibana-plugin/pull/617/files#diff-65ae1168eecd2c82b28b52c8a2c70866716e326bfa781144b33f0d74909103d9R17-R20) you provided. Please confirm what java version to be used.
2. Is there any specific reason t

[2020-12-24 22:15] gaiksaya commented on #522
Also @yuxitang-amzn , I have added the test in one of the workflow and it is failing 1 test. Here is the test run: https://github.com/opendistro-for-elasticsearch/opendistro-build/runs/1606664270?check_suite_focus=true
Please let me know if anything needs to be changed or am I good to go ahead to include the tests in all other workflows.
Thanks!

[2020-12-29 00:48] yuxitang-amzn commented on #522
1. I think we could use java 14. As per elastic document, it supports java 14 since es 7.7: https://www.elastic.co/support/matrix#matrix_jvm
2. It is because initially we runs our integration test on mac so we download the darwin version. We could use linux_x86_x64 instead.

I'll also raise a PR to update our CI process.

[2020-12-29 00:48] yuxitang-amzn commented on #522
Will investigate.

[2020-12-29 00:51] gaiksaya commented on #522
Sure Thank you! I wanted to know if the issue is in our part or in tests or code as they are failing. Please let me know so that I can add these in our other workflows for other distributions too.

[2020-12-29 20:27] yuxitang-amzn commented on #522
@gaiksaya we changed java version to 14 and es distribution to linux:
https://github.com/opendistro-for-elasticsearch/security-kibana-plugin/pull/659/files

And also re-created tag v1.12.0.0. I created a PR to test it and it showed passed:https://github.com/opendistro-for-elasticsearch/security-kibana-plugin/pull/662
Could you try again? If that doesn't pass we'll deep dive to investigate.

[2020-12-29 23:14] gaiksaya commented on #522
Hi @yuxitang-amzn ,
The changes you made are for the CI and won't affect the test as there are no changes in either artifacts (ODFE or security-kibana). I ran the test again and tested on local too but it seems to fail. Here is the latest run: https://github.com/opendistro-for-elasticsearch/opendistro-build/runs/1623650588?check_suite_focus=true

The difference between your CI and what we have in

[2020-12-30 00:29] yuxitang-amzn commented on #522
Hi @gaiksaya ,

It fails when it is trying to allow anonymous login. I wonder it is the config update is not included in the es setup action:
https://github.com/opendistro-for-elasticsearch/security-kibana-plugin/blob/main/.github/workflows/integration-test.yml#L57
I'm not sure which step is setting up es, it looks like [setup_runners_service.sh](https://github.com/opendistro-for-elasticsearch/ope

[2020-12-30 00:32] gaiksaya commented on #522
Thanks for pointing that out. Yes that setting is not included. Let me add and test again. Will let you know once I do.

[2020-12-30 01:02] gaiksaya commented on #522
Hi @yuxitang-amzn ,

After adding the setting the IT passed. I'll add the test in other workflows too. Thank you for your help.
Here is the test run after adding the setting: https://github.com/opendistro-for-elasticsearch/opendistro-build/runs/1624110840?check_suite_focus=true

[2020-12-30 01:28] yuxitang-amzn commented on #522
Looks good, thanks. Shall I proceed to close the issue?

[2020-12-30 01:31] gaiksaya commented on #522
I'll link my PR to this issue so that its is automatically closed when I merge into our master.
Thanks!

[2020-12-30 07:28] Grety opened #529 "Where can I find a docker image of opendistro for ARM platform?"
It seems now impossible to launch this build on ARM or M1 platforms. Kindly advise

[2021-01-04 19:33] peterzhuamazon commented on #512
Hi @fxalgrain there is no responses from you after 7 days, we will close this issue for now.
Please feel free to reopen it if needed.
Thanks.

[2021-01-04 19:33] #512 closed

[2021-01-04 21:09] #522 closed

[2021-01-04 21:49] gaiksaya commented on #300
Hi @joshuali925, For query workbench we had to bootstrap the plugin 3 times. Do that apply to the above mentioned plugins as well?
Please let me know. Thanks!

[2021-01-04 21:52] joshuali925 commented on #300
@gaiksaya No need to retry bootstrap for other plugins, only query workbench has that problem, thanks

[2021-01-05 05:41] Hokwang commented on #294
@peterzhuamazon please care about this issue. I think this should be top priority.

[2021-01-05 17:39] peterzhuamazon commented on #511
Hi @DariusMR seems like this is a xpack feature not ODFE.
https://www.elastic.co/guide/en/kibana/current/tile-layer.html

[2021-01-05 17:45] peterzhuamazon commented on #529
Hi @Grety we are in the process of getting a ARM64 build out soon.
Please stay tuned as we will share more information on our roadmap here:
https://github.com/orgs/opendistro-for-elasticsearch/projects/3

[2021-01-05 17:45] #529 closed

[2021-01-05 17:45] peterzhuamazon commented on #529
We will close this issue for now as we will release ARM64 version.

[2021-01-05 22:03] gaiksaya commented on #300
Hi @joshuali925 , @davidcui-amzn the integration test for gantt-chart are failing when added to the distribution workflow. Here is the test run: https://github.com/opendistro-for-elasticsearch/opendistro-build/runs/1652740333?check_suite_focus=true
Please let me know if I am missing something or there is some issue with the tests. Kibana and ES version used is 7.10.0 and kibana-visualization tag i

[2021-01-06 04:22] Grety commented on #529
@peterzhuamazon thanks for mentioning the roadmap. Kindly, is it theoretically possible to make the build on my own? As I am interested in arm32 architecture. Besides, I think apple chip will grow in popularity

[2021-01-06 17:48] peterzhuamazon commented on #529
We are still in the process of code changes to make ARM64 release possible. As of now, the answer is no.
Once we release ARM64 you should be able to find the code in our repo, tho it would have dependencies on our own AWS accounts.
As for apple, we are also working on possible releases, play stay tuned.

Thanks.

[2021-01-06 21:30] gaiksaya commented on #300
Kibana-notebooks tests are passing for all distributions except for windows: https://github.com/opendistro-for-elasticsearch/opendistro-build/runs/1658870269?check_suite_focus=true
Can you please look into it?
Thanks!

[2021-01-06 21:33] gaiksaya commented on #300
@davidcui-amzn What sample data is to be added? Can you please elaborate? Is it the same one that Josh provided above?

[2021-01-06 22:56] davidcui-amzn commented on #300
Hi Sayali, apologies for the vagueness. By sample data, I am referring to the sample Kibana data that users are prompted to optionally add when visiting a new Kibana endpoint (sample flight, eCommerce and revenue data).

[2021-01-07 00:33] gaiksaya commented on #300
After discussing with @davidcui-amzn looks like they need to find some way to add sample data from command-line. It will be possible to refactor so they add their own index data, dashboards, visualizations and saved searches but that will not be a quick fix. This is probably a blocker for adding reporting integration tests into the workflows.
Also had conversation with @joshuali925 he will look in

[2021-01-07 02:14] joshuali925 commented on #300
Notebooks cypress fails because babel couldn't run. Notebooks uses a library that uses ES6 which Kibana doesn't allow, so babel is used to transpile the library to ES5 in Notebook's `postinstall` script. Any ways to add babel/yarn on Windows Github actions?
[code]

For the reporting issue I think there is an api in kibana (POST http://localhost:5601/api/sample_data/flights). Or David you can use c

[2021-01-07 21:23] daudich opened #542 "Upgrading Elasticsearch from 0.10.0 to 1.12.0"
I'm trying to upgrade an old version of Elasticsearch to the new one by [updating the version number](https://opendistro.github.io/for-elasticsearch-docs/docs/upgrade/docker/), and I am getting the following error:

**To Reproduce**
Steps to reproduce the behaviour:
1. Updated the image number in my Docker compose file.
2. Since I got the 'not initialized' error by going to https://localhost:9200/

[2021-01-07 21:23] daudich opened #550 "Upgrading Elasticsearch from 0.10.0 to 1.12.0"
I'm trying to upgrade an old version of Elasticsearch to the new one by [updating the version number](https://opendistro.github.io/for-elasticsearch-docs/docs/upgrade/docker/), and I am getting the following error:

**To Reproduce**
Steps to reproduce the behaviour:
1. Updated the image number in my Docker compose file.
2. Since I got the 'not initialized' error by going to https://localhost:9200/

[2021-01-07 21:25] gaiksaya commented on #300
Hi @joshuali925 ,
Yarn was installed beforehand but even after [installing babel](https://github.com/opendistro-for-elasticsearch/opendistro-build/actions/runs/469983825/workflow#L544-L546) I am facing the same error. Recent workflow run: https://github.com/opendistro-for-elasticsearch/opendistro-build/runs/1665063682?check_suite_focus=true
Also note in windows we need to specify the shell as defa

[2021-01-07 21:52] jbarnett1981 opened #543 "opendistro-for-elasticsearch images failing twistlock validation"
We're running images through twistlock for vulnerability checks and there are quite a few alerts/failures with opendistro-for-elasticsearch. We tried 1.6.0 as well as 1.8.0 and still seeing quite a few failures.

![Screen Shot 2020-06-25 at 10 47 13 AM](https://user-images.githubusercontent.com/6635884/85768230-0caad400-b6d6-11ea-80c3-07bef6060f36.jpg)

[2021-01-07 22:34] peterzhuamazon commented on #542
Hi @daudich seems like this is an issue related to the opendistro security plugin migration.
https://opendistro.github.io/for-elasticsearch-docs/docs/upgrade/1-0-0/#security-index

I will transfer you to the corresponding security repo. Thanks.

[2021-01-11 22:06] daudich commented on #550
Well there is only one instance. So this is master, as I am setting the `environment` variable `node.master=true`. Is there a reason that it is not detecting that?

[2021-01-12 17:30] sreekarjami commented on #511
Hi @DariusMR,
I am closing this issue as there has been no response and also the feature doesn't belong to ODFE. Please feel free to re-open the issue if any concern.

Thanks for reaching out to us.

[2021-01-12 17:30] #511 closed

[2021-01-12 18:55] joshuali925 commented on #300
I tried on windows, the issue is because powershell doesn't support `;` to connect commands. https://github.com/opendistro-for-elasticsearch/kibana-notebooks/pull/70 changes `;` to `&&`, after it's merged postinstall should work on windows.

For reporting, could you run this curl after kibana starts and before cypress runs. This adds flights sample data. Thanks
[code]

[2021-01-13 06:52] pythianLopez opened #555 "Add securitycontext to helm chart as customizable value"
**Is your feature request related to a problem? Please describe.**
The current helm chart is running the container as root, this is not a best practice

**Describe the solution you'd like**
Add in the global section of the values.yml a securitycontext as configuration value. example

[code]

**Describe alternatives you've considered**
Some other configurable values for the security context.

[2021-01-15 07:23] chhaosh opened #558 "how to configure admin user password in helm chart"
**Query**
What question do you have?
For https://github.com/opendistro-for-elasticsearch/opendistro-build/tree/master/helm
Is there any way to configure admin user's password instead of default admin?/admin

[2021-01-15 17:24] fxalgrain commented on #512
Hi Peter,

To summarize, the goal is to start an elasticsearch with the option discovery.type=single-node in a Gitlab CI context.

I reopen the ticket to give you more details about the issue, as you have not experiences with Gitlab CI.
First of all, I agree with you that in docker CLI or in docker-compose  context, it's working fine.

But to run jobs on Gitlab CI, you have to define a .gitlab-ci.

[2021-01-15 17:27] fxalgrain commented on #512
Please find the docker-entrypoint.sh I used to fix the issue on our side
[docker-entrypoint.sh.zip](https://github.com/opendistro-for-elasticsearch/opendistro-build/files/5822078/docker-entrypoint.sh.zip)

[2021-01-15 22:00] chhaosh commented on #121
The problem is, if following https://github.com/opendistro-for-elasticsearch/opendistro-build/tree/master/helm#notes-about-default-installation to use default open distro security demo configuration, the elastic config section in values.yaml won't work and so far I did not see a work around to address it before running helm install command

[2021-01-15 23:05] ghost opened #560 "Hook up integration test for Alerting Kibana plugin"
Request adding integration test for Alerting Kibana plugin to the build workflow with and without security

**Assumption:**
With security: Elasticsearch is running at http://localhost:9200, Kibana is running at http://localhost:5601
Without security: Elasticsearch is running at https://localhost:9200, Kibana is running at http://localhost:5601

**Step to run the test:**
1. Start Elasticsearch serv

[2021-01-18 08:36] NovikovEvgeny commented on #558
you can define whole "internal_users.yaml" file using `elasticsearch.securityConfig.config.data.internal_users.yml` https://github.com/opendistro-for-elasticsearch/opendistro-build/blob/master/helm/opendistro-es/values.yaml#L178

[code]

how to generate hash described in [the docs](https://opendistro.github.io/for-elasticsearch-docs/docs/security/configuration/yaml/#internal_usersyml)

or you can

[2021-01-20 18:43] gaiksaya commented on #300
Hi @joshuali925 , The integration test for [kibana notebooks](https://github.com/opendistro-for-elasticsearch/opendistro-build/pull/557) have been added in the build workflows. However, the tests for gantt-chart are still failing. Here is the recent run: https://github.com/opendistro-for-elasticsearch/opendistro-build/runs/1736891362?check_suite_focus=true
Please let me know if I need to change an

[2021-01-22 01:05] DandyDeveloper commented on #550
@daudich Did you by chance lose the volume and subsequently lose the cluster UUid on upgrade?

Depending on your cluster size, you may also need to set a larger timeout for the `cluster,join.timeout` and `cluster.publish.timeout` to allow for the new master to elect itself .

Try those and let me know.

[2021-01-22 01:09] DandyDeveloper commented on #492
@ryn9 Couldn't you technically try this yourself by building a new image and installing that plugin to Kibana? With the logz.io that is.

I think one of the issues in general with adding more plugins is that the community would likely be split on the necessity of such a plugin.

(This assumes it works out of the box with Opendistro Kibana implementation).

However, adding a native live tailing lik

[2021-01-22 19:23] kaiwalyajoshi opened #571 "Forked Elasticserach/Kibana post 7.11.0 with Apache 2.0"
Given Amazon's announcement to fork [Elasticsearch](https://aws.amazon.com/blogs/opensource/stepping-up-for-a-truly-open-source-elasticsearch/). When can we start to see [elasticsearch](https://github.com/elastic/elasticsearch), kibana and other Apache 2.0 licensed repositories hosted under this Github Org?

Along those lines when will the build tooling be updated to host artifacts away from [elas

[2021-01-22 22:18] cliu123 opened #573 "Hook up integration test for Security plugin"
Request adding integration test for Security plugin to the build workflow

Assumption:
With security: Elasticsearch is running at http://localhost:9200

Step to run the test:

Start Elasticsearch server with Security plugin
In the ES directory, run command in below to install Demo Certificate
`sh plugins/opendistro_security/tools/install_demo_configuration.sh`

In the plugin directory (security/),

[2021-01-23 00:19] bbarani commented on #571
@kaiwalyajoshi ,Thanks for your question. As mentioned in [AWS Open Source blog post](https://aws.amazon.com/blogs/opensource/stepping-up-for-a-truly-open-source-elasticsearch/), we will publish new GitHub repositories in the next few weeks.

[2021-01-23 01:35] gaiksaya commented on #560
Hi @ftianli-amzn ,

I was working on adding Alerting kibana tests. However, the tests are failing when tested against ODFE 1.12.0 (both with and without security). Here is the test run:
With Security: https://github.com/opendistro-for-elasticsearch/opendistro-build/runs/1752329066?check_suite_focus=true
Without Security: https://github.com/opendistro-for-elasticsearch/opendistro-build/runs/1752397

[2021-01-23 01:48] ftianli-amzn commented on #560
Hi @gaiksaya,

Thank you for your time in setting up the workflow according to my request. 😄
It is expected to work with ODFE 1.12.0 without failure, so the failure of one test case is a surprise to me.
I think the configuration for the workflow is correct, as most of the test passes. I will investigate the test cases, and I don't think there are changes for you to make.

[2021-01-23 06:09] ftianli-amzn commented on #560
Hi @gaiksaya,

After my investigation, the test failure reflects a bug in Alering Kibana plugin v1.12.0.2, and I merged the [fix](https://github.com/opendistro-for-elasticsearch/alerting-kibana-plugin/commit/f505177fa81e8a617e2b9e0e7e13d0e866519a49) into `master` branch 2 weeks ago. It was a long time so I forgot about the bug.
The test failure is expected in ODFE 1.12.0, I was wrong in my last co

[2021-01-25 14:14] stockholmux commented on #571
@kaiwalyajoshi To echo what @bbarani said, the timeline is "weeks." I don't think we can commit to a firmer timeline than that, but know it's as fast as possible.

The way the current codebase is structured & licensed requires more than casual forking as we have to make sure we don't have _any_ non-Apache 2.0 code in the builds (it's intermingled with non-free licenses). Then adapting builds and t

[2021-01-25 18:01] peterzhuamazon opened #576 "ODFE 1.13.0 based on ES 7.10.2"
ODFE 1.13.0 based on ES 7.10.2

Release Engineering / Build Repo Key Changes:
* Add ARM64 TAR building process for both ES and KIBANA ([#559](https://github.com/opendistro-for-elasticsearch/opendistro-build/pull/559), [#565](https://github.com/opendistro-for-elasticsearch/opendistro-build/pull/565), [#581](https://github.com/opendistro-for-elasticsearch/opendistro-build/pull/581), [#590](https://g

[2021-01-26 07:49] DandyDeveloper commented on #576
@peterzhuamazon Is this covering the changes in deprecated features with node roles etc.?

Or is that being managed elsewhere? I have intention to make a potential PR to cover this, but don't want to duplicate work.

[2021-01-26 07:51] DandyDeveloper commented on #576
Ah wait, 7.10.2, not 7.11. I assume there's nothing covering this then.

[2021-01-26 19:13] bbarani commented on #571
@kaiwalyajoshi , I am closing this issue now. Feel free to re-open it if you need more information.

[2021-01-26 19:13] #571 closed

[2021-01-27 18:38] ryandawsonuk commented on #121
I also hit this when trying to set `elasticsearch.config.thread_pool.write.queue_size`.

I was looking into the workaround by[ copying to an emptyDir volume](https://stackoverflow.com/questions/49614034/kubernetes-deployment-read-only-filesystem-error) should work. I was working to the steps to this. It requires setting up a volume with extraVolumes, mounting it with extraVolumeMounts, copying wit

[2021-01-28 18:58] peterzhuamazon commented on #558
Hi @chhaosh sorry for the late reply.
Is the answer by @NovikovEvgeny resolve your issue?
Please let us know if you have any questions related to this.

Thanks.

[2021-01-28 18:59] #558 closed

[2021-01-28 19:07] peterzhuamazon commented on #534
Hello @adiospeds,
1. We dont give access to list objects in the S3 bucket for apt repo. Please try using apt download commands to create your own local repo: `apt-get download $PKG` or `apt download $PKG`
2. I believe we have corrected that link to https://opendistro.github.io/for-elasticsearch/downloads.html

Please let me know if there is any more questions.
Thanks.

[2021-01-28 19:16] peterzhuamazon commented on #548
Thanks @samarthya we have updated the documentation.
Also, please refer to this doc in our official website docs for latest updates:
https://opendistro.github.io/for-elasticsearch-docs/docs/install/helm/

Will close this issue for now, please feel free to re-open if you have any other related questions.

Thanks.

[2021-01-28 19:16] #548 closed

[2021-01-28 19:41] adiospeds commented on #534
Hello @peterzhuamazon

I get this part.. That's what we are doing right now. But this will add an additional task for us to download the repo contents manually everytime there is a new version. (if automated still a job to maintain).

We use Jfrog Artifactory inside our infra which has the ability to sync repos from the internet and cache them after first download. The cache helps us serve our int

[2021-01-28 20:18] peterzhuamazon commented on #531
We already have AMI for ODFE.
Thanks.

[2021-01-28 20:18] #531 closed

[2021-01-28 20:26] peterzhuamazon commented on #539
Hi @ozsk this issue is already fixed:
https://github.com/opendistro-for-elasticsearch/opendistro-build/blob/master/elasticsearch/docker/templates/Dockerfile.j2#L177

Thanks.

[2021-01-28 20:30] peterzhuamazon commented on #540
Hi @tolahs please provide more details on this issue.
I am not really sure what happens, but our docker release should run on all major cloud providers servers.

Please refer to our docs if you have more questions:
https://opendistro.github.io/for-elasticsearch-docs/docs/install/

[2021-01-28 20:34] peterzhuamazon commented on #536
Hi @armijnhemel this is already fixed here:
https://github.com/opendistro-for-elasticsearch/opendistro-build/blob/master/kibana/docker/build/kibana/config/kibana.yml#L20

Thanks.

[2021-01-28 20:34] #536 closed

[2021-01-28 20:40] peterzhuamazon commented on #539
Confirms that these warnings still exist in 1.12.0:
[code]
We will work on this issue. Thanks for reporting @ozsk

As of the hash.sh permission, please open issue with opendistro security plugin repo @MMartyn
https://github.com/opendistro-for-elasticsearch/security

Thanks.

[2021-01-28 22:29] kowshikn opened #587 "Data Prepper 0.7.1-alpha patch release"
Release:

Data Prepper will have a patch release on the earlier released 0.7.0-alpha. This [patch](https://github.com/opendistro-for-elasticsearch/data-prepper/pull/290) allows data prepper to send data to Amazon Elasticsearch domains. This release is planned for Feb 8th. The required artifacts and repo tags will be provided to the opendistro release team before Feb 5th.

[2021-01-28 22:46] peterzhuamazon commented on #539
After making these changes opendistro security plugin does not work anymore due to not able to read these pem files:
[code]

[2021-01-28 22:47] peterzhuamazon commented on #539
Since these are just warnings, after talking to the engineers, we will keep the current permissions as of now.
We will revisit later to see if there is other ways to fix this.

Thanks.

[2021-01-28 22:48] #539 closed

[2021-01-28 22:50] peterzhuamazon commented on #539
Please feel free to re-open the issue if you have any other questions. Thanks.

[2021-01-29 19:13] peterzhuamazon commented on #587
Thanks @kowshikn we will start working on it once we get the staging artifacts.

[2021-01-31 19:31] 0pendev opened #589 "Unable to deploy opendistro on kubernetes 1.20"
**Describe the bug**
The fixmount container of the data and master pod is not working since I've updated my cluster from 1.19 to 1.20.
When searching the logs on my node I get the following :
[code]

My volumes are correctly bound :
[code]

Here is the states of my pods :
[code]

**To Reproduce**

I'm using [Kubic](https://kubic.opensuse.org/) :
[code]
I'm using the following values :
[code]

**Ex

[2021-02-01 02:10] hari819 commented on #540
we use it in AKS , without any issue ,kudos to opendistro.
Including TLS1.2 with openid/oauth integration to Azure AD

[2021-02-01 09:16] BroutematoufOne commented on #589
Same for me

[2021-02-01 18:29] peterzhuamazon commented on #534
Hi @adiospeds we dont have the plan to expose/list the entire folder at this point of time due to security concerns.
If you have a specific use case of this, please let us know and we will look into it later.

Thanks.

[2021-02-01 18:33] peterzhuamazon commented on #550
Hi @daudich since 0.1.0 is a very old version there are many changes all the way up to 1.12.0, we recommend backing up your data somewhere else, build the new 1.12.0 cluster, then restore the data from your backup, reindexing the data again in the new cluster.

Thanks.

[2021-02-01 23:11] 0pendev commented on #589
The issue came from my pvc provisioner. Sorry for the useless issue. I still wonder why the chart does not use fsgroup instead of using a chown though.

[2021-02-01 23:11] #589 closed

[2021-02-02 19:58] kowshikn commented on #587
@peterzhuamazon

- The artifacts are now available in the S3 bucket `artifacts.dataprepper.amazon.com`

[code]

- The release has been tagged for docker release https://github.com/opendistro-for-elasticsearch/data-prepper/tree/0.7.1-alpha

[2021-02-02 20:25] peterzhuamazon commented on #587
Thanks @kowshikn will work on it and get back to you once ready.

[2021-02-02 21:48] bbarani commented on #300
@anirudha @joshuali925 Any update on this issue?

[2021-02-03 11:28] adiospeds commented on #534
Nope - Jfrog artifactory not working with this repo was my only issue. If dir listing cant be enabled rite now for opendistro i'll have to find some other way to get it working. This can be closed

[2021-02-03 11:28] #534 closed

[2021-02-03 18:56] bbarani opened #593 "ES / Kibana - macOS distribution (X64 / ARM64)"
Create macOS package for both ES and Kibana with support for both X64 / ARM 64 architecture

[2021-02-04 09:42] tw-ayush opened #594 "Kibana Lens visualisation missing from latest release"
Kibana announced that the kibana 7.10.0 will have lens visualisation generally available which is missing from the opendistro 1.12.0 release (built on top of es v7.10.0).

https://www.elastic.co/blog/kibana-lens-now-generally-available

[2021-02-04 21:02] peterzhuamazon commented on #587
We have complete the staging with artifacts and docker images, will wait for @kowshikn to validate and confirm.

[2021-02-04 22:34] kowshikn commented on #587
@peterzhuamazon Thanks for the work and I will go ahead and test the staged artifacts and docker images. As mentioned offline the release has been pushed to Feb 16th/Feb 17th. I will update here once its confirmed.

[2021-02-06 02:50] #560 closed

[2021-02-06 02:51] tlfeng opened #600 "Hook up integration test for Alerting Kibana plugin"
Request adding integration test for Alerting Kibana plugin to the build workflow with and without security

**Assumption:**
With security: Elasticsearch is running at http://localhost:9200, Kibana is running at http://localhost:5601
Without security: Elasticsearch is running at https://localhost:9200, Kibana is running at http://localhost:5601

**Step to run the test:**
1. Start Elasticsearch serv

[2021-02-06 02:53] gaiksaya commented on #560
Hi @tlfeng this issue has not been resolved yet. Are you going to create a new one with updated instructions or reopen this?

[2021-02-08 19:31] peterzhuamazon commented on #550
Hi @daudich it has been 7 days since we last talk.
We will close this issue for now, please feel free to re-open it.
Thanks.

[2021-02-08 19:31] #550 closed

[2021-02-08 19:32] peterzhuamazon commented on #540
Hi @tolahs it has been 8 days since we last talk.
We will close this issue for now, please feel free to re-open it.

Thanks.

[2021-02-08 19:32] #540 closed

[2021-02-09 00:32] DandyDeveloper opened #609 "Helm Chart - Allow users to define data nodes for accepting incoming documents."
**Is your feature request related to a problem? Please describe.**
Right now, we force users to either deploy clients or use masters for incoming document requests from their logstash/log streamers.

Clients themselves are pointless if you don't use ingest pipelines, and masters are dangerous and slower over data nodes for accepting and queueing tasks.

Right now, using masters, I have a bottlenec

[2021-02-09 22:29] mmguero opened #613 "allow environment variables to override UID 1000 in docker-entrypoint.sh"
The entrypoint script [docker-entrypoint.sh](https://github.com/opendistro-for-elasticsearch/opendistro-build/blob/master/elasticsearch/docker/build/elasticsearch/bin/docker-entrypoint.sh) has various checks to drop privileges, which is a good thing from a best-practices security point of view.

However, the UID 1000 is hard-coded in that script (search 1000 in that script). While this may work in

[2021-02-10 20:40] peterzhuamazon commented on #613
Hi @MMakaria this is a valid suggestion and we appreciate if you can also create a PR for it.
However, it is unlikely that we will include this in the upcoming 1.13.0 release since we are already in the process.
We would review it after the release.

Thanks.

[2021-02-10 21:36] joshuali925 commented on #300
For gantt chart I'm unable to reproduce the error locally, the test just selects different time formats in dropdown and make sure the chart updates. Source code is here. Is there anything from github actions that can help me debug?
https://github.com/opendistro-for-elasticsearch/kibana-visualizations/blob/main/gantt-chart/.cypress/integration/ui.spec.js#L131

For reporting it's missing `cypress` a

[2021-02-10 22:43] gaiksaya commented on #300
Hi @joshuali925 , Can you tell us how are you trying to recreate it locally? Just want to see if the steps are right
Few options are:
1. Download the tarball run it locally and then run integration test after confirming es is running on 9200
2. Run the docker image and ensure es is running on 9200 and then  run the IT.
If still you are unable to reproduce it let us know.

Thanks!

[2021-02-10 22:59] aetter opened #621 "Add S3 bucket and CloudFront URL for hosting old versions of documentation"
**Is your feature request related to a problem? Please describe.**
We currently nest old versions of the documentation within the documentation itself, which creates a weird recursive situation where the 1.12 documentation contains a full copy of the 0.9 and 1.11 documentation, which contains another full copy of the 0.9 documentation. The problem will get worse as we start hosting more versions.

[2021-02-10 23:27] joshuali925 commented on #300
@gaiksaya here is what I tried just now, could you check if i'm missing something, thanks
1. on EC2 ubuntu downloaded ODFE 1.12 ES and kibana, removed security plugin
2. started ES and Kibana, waited for kibana to be up
3. locally bootstraped kibana-oss and gantt chart, changed cypress.json to use EC2 kibana
4. locally ran `npx cypress run` and all tests passed
[code]

[2021-02-10 23:31] AlexShuraits opened #622 "Helm Chart add option to map SAML idp.metadata_file"
I didn't found a way to deliver SAML metadata file to the config folder using Helm chart.
Please provide a way to it, similar to mapping certificates and config files.

[2021-02-11 01:55] peterzhuamazon commented on #621
Thanks @aetter we will add this to our roadmap.
Will work on it once we complete the current releases.

Thanks.

[2021-02-12 00:45] joshuali925 commented on #300
For reporting cypress I'm able to see errors locally, will take some time to fix with @davidcui-amzn

[2021-02-12 11:52] Stek0v opened #629 "elasticsearch-extractor tool to extract indices from snapshots"
In agreement with Flant, and with their full approval, please consider this application as a standalone plugin.

![](https://blog.flant.com/wp-content/uploads/sites/2/2021/01/elasticsearch-extractor-list-short.png)

 # Announcing elasticsearch-extractor tool to extract indices from snapshots
Today, we are happy to announce our latest Open Source project —  [elasticsearch-extractor](https://github.

[2021-02-12 13:51] cdpierse opened #630 "How to install plugins on Helm deployment"
**Query**
Hi,

I’ve been searching the documentation for some information around installing custom plugins on my cluster that is deployed on k8s via Helm. I can’t seem to find anything concrete and am a bit confused. For context, I’m looking to install the Azure repository to enable snapshots.

I’ve been able to attach single pods in my Kubernetes setup and install the plugin manually via

    sud

[2021-02-15 20:44] kowshikn commented on #587
@peterzhuamazon , I validated the staged artifacts. Can you please go ahead with production steps. The release is planned for Feb 16th.

[2021-02-15 21:32] peterzhuamazon commented on #587
Thanks @kowshikn.

[2021-02-16 22:30] peterzhuamazon commented on #587
The Data Prepper Team has confirmed that prod release artifacts are good. This task is complete.
Thanks.

S3/Cloudfront Prod:
https://d3g5vo6xdbdb9a.cloudfront.net/tarball/opendistroforelasticsearch-data-prepper/opendistroforelasticsearch-data-prepper-jdk-0.7.1-alpha-linux-x64.tar.gz
https://d3g5vo6xdbdb9a.cloudfront.net/tarball/opendistroforelasticsearch-data-prepper/opendistroforelasticsearch-da

[2021-02-16 22:30] #587 closed

[2021-02-18 00:30] gaiksaya commented on #576
Open Distro For Elasticsearch-1.13.0 is released now. Please check the release [highlights for this release](https://opendistro.github.io/for-elasticsearch/blog/releases/2021/02/open-distro-1-13/) and detailed [release-notes](https://github.com/opendistro-for-elasticsearch/opendistro-build/blob/main/release-notes/opendistro-for-elasticsearch-release-notes-1.13.0.md)
Thanks!

[2021-02-18 00:30] #576 closed

[2021-02-18 00:34] #387 closed

[2021-02-18 19:43] devoncrouse opened #647 "Multi-arch Docker image build for arm64 + amd64"
**Query**
Hello! With the recent release including ARM64 support, it doesn't look like arm64 images were published to [amazon/opendistro-for-elasticsearch](https://hub.docker.com/r/amazon/opendistro-for-elasticsearch/tags), and the Dockerfile.j2 still seems x86_64-specific. Unfortunately, I'm unable to run the existing Docker build as-is because of #378, so it seems like some additional work will

[2021-02-19 00:17] gaiksaya commented on #600
Hi @tlfeng,

I am working on this issue. However while doing so looks like the the non security tests are working well but for security test it failing. I am testing with `1.13.0`.
Please find the below test runs for alerting kibana plugin with security:
https://github.com/opendistro-for-elasticsearch/opendistro-build/runs/1931065268?check_suite_focus=true
https://github.com/opendistro-for-elastic

[2021-02-19 01:17] tlfeng commented on #600
Thank you for informing me the result of the workflow runs. Let me take a loot at the failures.

[2021-02-19 18:31] alexferl commented on #197
This is still a problem currently.

In the Helm chart, it's supposed to be disabled by default but it isn't.

Adding the following to a custom `value.yaml` file does not work either:
[code]

The `/usr/share/elasticsearch/config/elasticsearch.yml` on one of the pods:
[code]

[2021-02-19 23:01] weicongs-amazon commented on #197
@peterzhuamazon @gaiksaya  could you help to take a look?

[2021-02-20 02:23] gaiksaya commented on #339
Hi @sidheart , @ktkrg ,

I am working this issue and looks like there are 2 failing test.
Here is the test run: https://github.com/opendistro-for-elasticsearch/opendistro-build/runs/1939879490?check_suite_focus=true
Please go through and let me know if I need to make any changes on my end.

Thanks!

[2021-02-23 00:40] sreekarjami opened #653 "ODFE 1.13.1 based on ES 7.10.2"
ODFE 1.13.1 based on ES 7.10.2

Release Engineering / Build Repo Key Changes:

- Bug fix for Performance Analyzer plugin in TAR and Docker (#649)

[2021-02-23 07:31] tlfeng commented on #600
Seems the test failure is caused by this modal appears on the top, I'm going to find solution for it.
<img width="997" alt="select your tenant - modal 7 10 2" src="https://user-images.githubusercontent.com/78394866/108813414-d758cd80-7565-11eb-91ad-1b2c38d5c28b.png">

[2021-02-23 18:54] neoakris opened #655 "Helm Chart init container busybox is half templated half hard coded"
The lastest version of the helm chart 1.3.0 has 2 busybox init containers, the first instance of busybox init container has a templatized image version and templatized image tag. The 2nd instance of busybox init container is hard coded.
(This error shows up on es-master-sts.yaml & es-data-sts.yaml)

It looks like
https://github.com/opendistro-for-elasticsearch/community/blob/master/open-distro-ela

[2021-02-23 18:54] tschaible opened #656 "helm chart kibina ingress default values are misleading"
the default helm chart values for kibana ingress contain `kibana.ingress.path: /`

this value is non-functional and misleading.  the path is derived from the entries in kibana.ingress.hosts if they have an additional path beyond the domain.

for example a value of `chart-example.local/kibana` would result in the path being set to `/kibana`

please consider removing the `kibana.ingress.path` value

[2021-02-23 18:54] splushii opened #657 "Helm chart ES services using too broad selector (breaking support for multiple clusters in the same namespace)"
The services for Elasticsearch clients, masters and data nodes use a too broad selector, only the `role`, which means that if multiple Helm releases are deployed to the same namespace, all above services will point to **all** pods (with the specified `role`) in **all** deployed ES clusters in that namespace.

See
- https://github.com/opendistro-for-elasticsearch/community/blob/master/open-distro-e

[2021-02-23 18:56] isaacnc opened #658 "Not able to set enforce_hostname_verification:true in Kubernetes"
I have a service
[code]

and a configmap
[code]

However masters are trying to form a cluster based on IP
[code]

Hence why I cannot set hostname verification to true

[2021-02-23 18:56] marshallford opened #659 "packaging/feature request: Helm chart repository"
It would be nice if the Helm chart for opendistro was hosted on a [Helm chart repository](https://helm.sh/docs/topics/chart_repository/). Ideally the existing chart would be migrated to the [default stable repo](https://github.com/helm/charts/tree/master/stable) for easy consumption but a project specific repo would be a step in the right direction as well. Check out [Helm Hub](https://hub.helm.sh

[2021-02-23 21:21] ky-ma opened #662 "Reporting behind Reverse Proxy"
I can't generate any reports and I believe it has to do with the reverse Proxy setting. The headless chrome that launches isn't communicating back through the proxy port and or path. There doesn't seem to be a setting specific to the kibana report like there is for the main kibana setting from elasticsearch.

Is there a method to get this to work right now on a reverse proxy?

Thanks!

[2021-02-24 00:02] sujithvm opened #663 "Remove release-notes from opendistro plugin projects"
**Is your feature request related to a problem? Please describe.**
- Currently release notes are tracked within the version control of the project. There is a `release-notes` directory where we are manually updating the release notes. For eg: https://github.com/opendistro-for-elasticsearch/security/tree/main/release-notes
- Because it is part of version control, it creates PR overhead (go through

[2021-02-24 00:38] gaiksaya commented on #339
Hi @ktkrg ,

IT for tarball are failing very badly than deb (which is package manager installation) And I see the below error
`java.lang.AssertionError: PA and RCA are not enabled on the target cluster!`
https://github.com/opendistro-for-elasticsearch/opendistro-build/runs/1965991335?check_suite_focus=true

Similar error for docker as well. https://github.com/opendistro-for-elasticsearch/opendistr

[2021-02-24 01:02] gaiksaya commented on #647
Hi @devoncrouse ,

Thank you for your question. We have not yet published the arm64 docker image but we plan to soon.
Stay tuned.

Thanks!

[2021-02-24 01:34] gaiksaya commented on #594
Hi @tw-ayush ,

Looks like the above feature you mentioned is not part of kibana-oss. Hence, its not bundled with ODFE.
Closing this issue.

Please feel free to repoen.

Thanks!

[2021-02-24 01:34] #594 closed

[2021-02-24 18:51] vinaykumar4s opened #664 "Performance issue between version 1.11.0 and 1.13.0"
I see considerable Performance degradation between the versions 1.11.0 and 1.13.0. I do not know which section this issue belongs to so i am opening issue in opendistro-build section.   I tried to sample data in both versions  on the same machine and view the the dashboard. version 1.11.0 is loading very fast when compared with 1.13.0. The difference is lot. its in seconds.
i have not tested with

[2021-02-24 19:42] bbarani commented on #664
@vinaykumar4s, Can you provide more details on your use case? It would be great if you can list the steps you followed to better understand the performance issue.

[2021-02-24 20:19] vinaykumar4s commented on #664
Hi @bbarani ,
I have currently dev server running opendistro 1.11.0 version on a single node. It was installed from tar.gz distribution of opendistro.  I am running as  independent process using /bin/elasticsearch. As far as data, we don’t have so much data and it’s not very heavy user base. Performance is good in that node. I don’t see any lags in that server. Now. I am trying to setup in stage e

[2021-02-24 23:28] gaiksaya commented on #573
Hi @cliu123 ,

I am working on adding the above integration test to our workflows. Looks like tests are failing on ARM64.
`[ERROR] Failed to execute goal on project opendistro_security: Could not resolve dependencies for project com.amazon.opendistroforelasticsearch:opendistro_security:jar:1.13.1.0: Could not find artifact io.netty:netty-tcnative:jar:linux-aarch_64:2.0.25.Final in central (https:/

[2021-02-25 08:40] mxmorin commented on #664
I've same issue in all the masters (3 nodes). These nodes are ingest nodes too and receive bulks.
No effect on data nodes only.

![image](https://user-images.githubusercontent.com/58942529/109125360-455ee980-774c-11eb-9fa3-394ee7271878.png)

First peak in after the ugrade. Bulk operations failed with timeout and masters became instable.
Bulks have been redirected to data node and cpu usage decreas

[2021-02-25 12:09] webwurst commented on #653
Will this bug fix also be included? https://github.com/opendistro-for-elasticsearch/security/pull/1048